{% extends "vware/baseArmazem.html" %}
{% load static %}
{% load utils %}

{% block body_title %}
<style>

    .button {
     
        height: 70px;
       
        font-family: Arial, "Helvetica", sans-serif;
        font-size: 45px;
        color: #fff;
        text-decoration: none;
        text-align: center;
        text-shadow: 1px 1px 0 #7D9EAD, 2px 2px 0 #7D9EAD, 1px 1px 0 #7D9EAD;
        padding-top: 6px;
        margin-left: auto;
        margin-right: auto;
        left: 30px;
        position: relative;
        cursor: pointer;
        border: none;
        background: #FBA51A;
        background-image: linear-gradient(bottom, #E57200 0%, #FBA51A 100%);
        border-radius: 5px;
        box-shadow: inset 0px 1px 0px #FBA51A, 0px 5px 0px 0px #cb7b25, 0px 10px 5px #999;
   
    }
    
    .tr-hover
    {  
        background-color:#fefefe;
    }

     
    .buttons{
        padding: 15px 25px;
        background: #FBA51A;
        text-align: center;
        padding-top: 6px;
        font-size: 15px;
        width: 100px; 
        margin-left: 8px"
    }
    

    .buttonsUpdate1{
        position: relative;
        right:    0;
        bottom:   35px;
        padding: 5px 10px;
        background: #FBA51A;
        text-align: center;
        font-size: 15px;
        margin: 0;
        width: 5%;
        height: auto;
        margin-left: 81%;
        
    }
    .buttonsUpdate2{
        position: relative;
        right:    0;
        bottom:   70px;
        padding: 5px 10px;
        background: #FBA51A;
        text-align: center;
        font-size: 15px;
        margin: 0;
        width: 5%;
        height: auto;
        margin-left: 81%;
    }
    .buttonsPaginator{
        position: relative;
        padding: 5px 10px;
        background: #FBA51A;
        text-align: center;
        
    }
    .buttonFirst{
        position: relative;
        right:    0;
        background: #FBA51A;
        text-align: center;
        margin: 0;
        height: auto;

        padding: 2px 5px;
        font-size: 15px;
        width: 4%;
        margin-left: 80%;
        bottom:   121px;


    }
    .buttonPrevious{
        position: relative;
        right:    0;
        background: #FBA51A;
        text-align: center;
        margin: 0;
        height: auto;

        padding: 2px 5px;
        font-size: 15px;
        width: 4%;
        margin-left: 84%;
        bottom:   145px;
    }
    .buttonActual{
        position: relative;
        right:    0;
        background: #FBA51A;
        text-align: center;
        margin: 0;
        height: auto;

        padding: 2px 5px;
        font-size: 15px;
        width: 2%;
        margin-left: 88%;
        bottom:   169px;
    }
    .buttonNext{
        position: relative;
        right:    0;
        background: #FBA51A;
        text-align: center;
        margin: 0;
        height: auto;

        padding: 2px 5px;
        font-size: 15px;
        width: 3%;
        margin-left: 90%;
        bottom:   193px;
    }
    .buttonLast{
        position: relative;
        right:    0;
        background: #FBA51A;
        text-align: center;
        margin: 0;
        height: auto;

        padding: 2px 5px;
        font-size: 15px;
        width: 3%;
        margin-left: 93%;
        bottom:   217px;
    }
  
 </style>
    <div class="text-primary" xmlns="http://www.w3.org/1999/html">
        <h6><b><i class="fa fa-home text-secondary"></i><a href={% url 'main:main' %}><span
                class="text-secondary"> Home | </span></a> Stock Package</b></h6>
    </div>
{% endblock %}


{% block body_content %}
    <div class="containerPath mt-4" style="margin-left: 30px">
        <div class="path" id="uploadClass">
            <div class="mt-3">
                {% if erro %}
                    <br/>
                    <div class="text-center">
                        <h1><b>{{ erro }}</b></h1>
                    </div>
                    <br/>
                {% endif %}
                <table id="example" class="stripe hover cell-border " style="width:100%; overflow:auto" >
                    <thead>
                    <tr>
                        <td >Part-number</td>
                        <td>Description</td>
                        <td>Comment</td>
                        <td>Link</td>
                        <td>Stock</td>
                        <td>Inventario</td>
                        <td>Tipo</td>
                        <td></td>
                        <td style="display: none" ></td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for partnumber in items %}
                    <tr>
                        <td style="width: 25%" title="{{ partnumber.pn|default:'Empty' }}">{{ partnumber.pn|default:"" }}</td>
                        <td style="width: 40%" title="{{ partnumber.descricao|default:'Empty' }}">{{ partnumber.descricao|default:""}}</td>
                        <td style="width: 10%" title="{{ partnumber.comentario|default:'Empty'}}" >{{ partnumber.comentario|default:"" }}</td>
                       
                       
                       <!-- <td style="width: 50%">{{ partNumber.link }}</td>
                    
                         <th style="width: 7%"><input style="width: 70px; margin-left: 8px" class=""
                                                      type="number"
                                                      readonly="readonly"
                                                      name="{{ partnumber.id }}" id="{{ partnumber.id }}"
                                                      value="{{ partnumber.quantidade }}"></th>
                        
                    
                    -->
                        <td   style="width: 10%" id="botaoShowPdf" title="{{ partnumber.link|default:'Empty' }}" > {{ partnumber.link|default:"" }} </td>
                        <td style="width: 5%" min="0" title="{{ partnumber.quantidade|default:'Empty' }}">{{ partnumber.quantidade|default:"" }}</td>
                       
                        <th style="width: 5%"  title="{{ partnumber.inventario|default:'Empty' }}">
                            <input style="width: 70px; margin-left: 8px" class="" 
                            type="number" min="0"
                            name="{{ partnumber.inventario|default:"" }}" id="{{ partnumber.id }}"
                            value="{{ partnumber.inventario|default:"" }}">
                        </th>

                        <td style="width: 50%" title="{{ partnumber.tipo|default:'Empty' }}">{{ partnumber.tipo|default:"" }}</td>
                                                     
                        <th style="width: 7%">
                            <div class="form-inline">
                                <a type="button" id="botaoEdit" title="Edit" class="fas fa-pen-square"
                                   style="height: 18px; margin-left: 10px"
                                   data-toggle="modal" data-target="#updateLinha">
                                </a>
                                <a type="button" id="botaoDelete" title="Delete" class="fas fa-trash-alt"
                                   style="margin-left: 10px; height: 18px"
                                   data-toggle="modal" data-target="#deleteLinha">
                                </a>
                            </div>
                        </th>
                        <td style="display: none" value="{{ partnumber.id }}">{{ partnumber.id }}</td>
                    </tr>
                    
                   
                {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Part-number</th>
                        <th>Descrição</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th style="display: none" ></th>
                        
                    </tr>
                    </tfoot>
                </table>
                
                    <div style="width: 30%; margin-left: 30%; bottom: 10%; position: absolute; border: 3px solid transparent; text-align: center">
                        <button type="submit" class="button"  data-toggle="modal"
                                data-target="#addLinha">
                            NOVO ITEM
                        </button>
                    </div>
<!-- 
                <div class="ml-lg-4 input-group">
                    <a href="#" class="btn btn-outline-primary" value="ClearFilters" onclick="ClearFilters()">Clear filters</a>
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#addLinha" style="margin-left: 55%">Add Item
                        style="background-color: #00117243"

                         <button type="button" class="btn btn-primary buttons" style="background-color: #21127251"  id="prints">Print</button>
                    

                    </button>-->
                  
                        <button type="button"  title="Download Excel" class="btn btn-primary buttons" style="background-color: #21127251" id="downloadExcel">Excel</button>
                 
                   
                       
                        {% csrf_token %}
                       
                            <button   title="Gravar"  type="submit" style="margin-left: 79%" class="btn btn-primary buttonsUpdate1"id="botaoUpdateStocks" onclick="botaoUpdateStock()" > Gravar </button>
                            {% csrf_token %}

                                <button type="button" title="Update" style="margin-left: 79%" class="btn btn-primary btn btn-primary buttonsUpdate2" data-toggle="modal" data-target="#updateStock"  > Update </button>


                                <form method="POST" class="form" action="{% url 'pManagement:updateAllStock' %}"
                                enctype="multipart/form-data">
                              {% csrf_token %}
                              <div class="modal fade" id="updateStock" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                  <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                          <div class="modal-header">
                                              <h3 class="modal-title" id="myModalLabel"><b>Deseja fazer Update ao Stock?</b></h3>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                      aria-hidden="true">&times;</span></button>
                                          </div>
                                         <div class="modal-footer">
                                              <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
                                              <button onclick="botaoUpdateInventario()" type="submit" class="btn btn-primary">Sim</button>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </form>


                            
                                <div class="form-inline" style="width: 570px">
                                    <h4 class="mt-3">IMPORT XLSX FILE:</h4>
                                    <input style="margin-left: 20px" type="file" name="myfile" id="myfile"
                                           title="Choose File"></br>
                </div>
               
                <button title="Upload Excel" class="btn btn-outline-primary" style="margin-left: 154px" onclick="uploadStockPackage()" type="submit">
                    Upload
                </button>
                {% if erro2 %}
                    <b>{{ erro2 }}</b></br>
                {% endif %}
                
            </div>
            <br>
          <!--   <div class="dataTables_paginate paging_full_numbers" id="example_paginate">
                <button class="button buttonFirst" aria-controls="example" data-dt-idx="0" tabindex="0" id="example_first" onclick="firstClick()">First</a>
                <button class="button buttonPrevious" aria-controls="example" data-dt-idx="1" tabindex="0" id="example_previous" onclick="prevClick()">Previous</a>
                <span>
                    <button class="button buttonActual" aria-controls="example" data-dt-idx="2" tabindex="0">{{ current_page }}</a>
                </span>
                <button class="button buttonNext" aria-controls="example" data-dt-idx="4" tabindex="-1" id="example_next" onclick="nextClick()">Next</a>
                <button class="button buttonLast" aria-controls="example" data-dt-idx="5" tabindex="-1" id="example_last" onclick="lastClick()">Last</a>
            </div> -->

        </div>
    </div>



    <!-- Modal onde é adicionada uma nova linha -->
        <div class="modal fade" id="addLinha" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="myModalLabel"><b>Create new row</b></h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-borderless mb-n1">
                            <thead>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row" style="color: black"><h6><b>Part-number</b></h6></th>
                                <td><input type="text" name="partNumberNovo" id="partNumberNovo" required/></td>
                            </tr>
                            {% if erro %}
                                <div class="text-center mb-n2">
                                    <b>{{ erro }}</b>
                                </div>
                            {% endif %}
                            <tr>
                                <th scope="row" style="color: black"><h6><b>Description</b></h6></th>
                                <td><input type="text" name="descricaoNovo" id="descricaoNovo"/></td>
                            </tr>
                            <tr>
                                <th scope="row" style="color: black"><h6><b>Comment</b></h6></th>
                                <td><input type="text" name="comentarioNovo" id="comentarioNovo"/></td>
                            </tr>
                            <tr>
                                <th scope="row" style="color: black"><h6><b>Quantity Stock</b></h6></th>
                                <td><input type="number" min="0" name="novoStock" id="novoStock"/></td>
                            </tr>
                            
                                <th scope="row" style="color: black"><h6><b>Quantity Inventory</b></h6></th>
                                <td><input type="number" min="0" name="quantidadeInventarioNovo" id="quantidadeInventarioNovo"/></td>
                            </tr>
                            <tr>
                                <th scope="row" onclick="upload()" style="color: black"><h6><b>Link</b></h6></th>
                                <td><input type="file" name="linkNovo" id="linkNovo"/></td>
                            </tr>

                            <tr>
                                <th scope="row" style="color: black" ><h6><b>tipo</b></h6></th>
                                <td><input type="radio" id="Returnable" name="tipo" value="Returnable">
                                    <label for="Returnable">Returnable</label><br>

                                <input type="radio" id="Expendable" name="tipo" value="Expendable">
                                <label for="Expendable">Expendable </label> </td>
                            </tr>

                            </tbody>
                        </table>
                        {% if erro2 %}
                            <div class="text-center">
                                <b>{{ erro2 }}</b>
                            </div>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" onclick="createNewStockPackage()">Create</button>
                    </div>
                </div>
            </div>
        </div>


    <!-- Modal onde é feito o delete de uma linha especifica -->
    <form method="POST" class="form" action="{% url 'pManagement:deleteLinhaStockPackage' %}"
          enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal fade" id="deleteLinha" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="myModalLabel"><b>Delete this row?</b></h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <p id="infoDelete"></p></br>
                        <input type="hidden" id="rowIdDelete" name="rowIdDelete" value="{{rowIdDelete}}">
                       
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Modal onde é feito EDIT de cada linha -->
    <!-- <form method="POST" class="form" action="{% url 'pManagement:updateStockPackage' %}" enctype="multipart/form-data"> -->
       <!--  {% csrf_token %} -->
        <div class="modal fade" id="updateLinha" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="myModalLabel"><b>Edit Row</b></h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>

                    </div>
                    <div class="modal-body">
                  
                        <input type="hidden" id="rowIdUpdate" name="rowIdUpdate" value="{{ partnumber.id }}">

                        <h3><b>Replace by: </b></h3>
                        <div class="form-inline">
                            <h6 class="mt-1">Part number: </h6>
                            <input placeholder="New part number" type="form" name="novoPartNumberEdit" 
                                   id="novoPartNumberEdit" style="margin-left: 16px" value="{{ partNumber }}">
                        </div>

                        <div class="form-inline mt-3">
                            <h6 class="mt-1">Description: </h6>
                            <input placeholder="New description" type="form" name="novoDescriptionEdit"
                                   id="novoDescriptionEdit" style="margin-left: 21px; width: 300px"  value="{{ descricao }}">
                        </div>
                        <div class="form-inline mt-3">
                            <h6 class="mt-1">Link: </h6>
                                   <td><input type="file"  style="margin-left: 67px" name="novoLinkEdit"  id="novoLinkEdit" value="{{ link }}"/></td>
                        </div>

                        <div class="form-inline mt-3">
                            <h6 class="mt-1">Comment: </h6>
                            <input placeholder="New description" type="form" name="novoCommentEdits"
                                   id="novoCommentEdit" style="margin-left: 21px; width: 300px"  value="{{ comentario }}">
                        </div>



                      
                        <div class="form-inline mt-3">
                            <h6 class="mt-1">Stock: </h6>
                            <input placeholder="New Stock"  min="0" type="number" type="form" name="novoStockEdit"
                                   id="novoStockEdit" style="margin-left: 60px">
                        </div>


                        <div class="form-inline mt-3">
                           
                            <input placeholder="New Stock"  min="0" type="hidden" type="form" name="quantidadeInventarioNovoEdit"
                                   id="quantidadeInventarioNovoEdit" style="margin-left: 60px">
                        </div>

                        <!-- <div class="form-inline mt-3">
                           
                            <input placeholder="New Inventory" type="hidden" type="form"  name="quantidadeInventarioEdit"  value="{{ inventario }}"
                                   id="quantidadeInventarioNovoEdit" style="margin-left: 30px">
                        </div> -->
                        
                        <div>
                            <input type="radio" id="ReturnablePkg" name="tipo" value="Returnable">
                                <label for="ReturnablePkg">Returnable</label>

                            <input type="radio" id="ExpendablePkg" name="tipo" value="Expendable">
                                <label for="ExpendablePkg">Expendable </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" id="EditRowButton" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
  <!--   </form> -->

{% endblock %}

{% block javascript %}
    <script>

        $('.clearable.example .ui.selection.dropdown')
            .dropdown({
                clearable: true
            })
        ;
        $('.clearable.example .ui.inline.dropdown')
            .dropdown({
                clearable: true,
                placeholder: 'any'
            })
        ;

        function createNewStockPackage() {
            var pn = $("#partNumberNovo").val()
            var desc = $("#descricaoNovo").val()
            var com = $("#comentarioNovo").val()
            var stock = $("#novoStock").val()
            var inv = $("#quantidadeInventarioNovo").val()
            var link = document.getElementById("linkNovo").files[0]

            var linknew = $("#linkNovo").val()
            var tipo = $("input[name=tipo]:checked").val()
            var csrfmiddlewaretoken = $('input[name=csrfmiddlewaretoken]').val()

            console.log("DADOS--->",typeof tipo)

            if (tipo ==undefined) {
                return alert("You must set at least 1 type.")
            }
            if(!pn.length){
                return alert("You must set a Part-Number")
            }
            if(stock <0){
                
                return alert("You must set a valid Stock")
            }
            
            if(link == undefined || link == ""){
                alert("Link vazio")
            }
            else{
                if(!link.name.endsWith("pptx")){
                return alert("Not a valid file");
            }
        }
            

            var dataForm = new FormData();
            dataForm.append(
                "partNumberNovo", pn
            )
            dataForm.append(
                "descricaoNovo", desc
            )
            dataForm.append(
                "comentarioNovo", com
            )
            dataForm.append(
                "novoStock", stock
            )
            dataForm.append(
                "quantidadeInventarioNovo", inv
            )
            dataForm.append(
                "linkNovo", link
                
            )
            dataForm.append(
                "linkNew", linknew
            )
            dataForm.append(
                "tipo", tipo
            )
            dataForm.append(
                "csrfmiddlewaretoken", $('input[name=csrfmiddlewaretoken]').val()
            )
            $.ajax({
                type: 'POST',
                url: "{% url 'pManagement:createStockPackage' %}",
                contentType: false,
                processData: false,
                data: dataForm,
                success: function () {
                    setTimeout(function(){
                        window.location.replace("{% url 'pManagement:stockPackage' %}")
                }, 1300);  

                   
                },
                complete: function () {
                    console.log("[API] Callback to the endpoint sucess")
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                }
            ,})
        }

        $(document).ready(function () {

// Setup - add a text input to each footer cell
$('#example thead th').each(function (i) {
    var title = $('#example thead th').eq($(this).index()).text();
    $(this).html('<input class="form-control" style="margin-left: -18px" type="text" placeholder="Search ' + title + '" data-index="' + i + '" />');
});
});

/* Aqui está o codigo que vai popular os campos que estão no model do edit */
$(document).on("click", "#botaoEdit", function () {
            var data = table.row($(this).parents("tr")).data();
            console.log("NOVO EDIT",data)
            var pn = data[0];
            var desc = data[1];
            var comment =data[2];
            var link = data[3];
            var stock = data[4];
            var inv = $(data[5]).val();
            var tipo = data[6];
            var rowIdUpdate = data[8];

            var linknew = $("#botaoShowPdf").val()

            if (tipo ==undefined) {
                return alert("Deve introduzir um tipo.")
            }
            if(!pn.length){
                return alert("Deve introduzir um Part-Number")
            }
            if(stock <0){
                
                return alert("You must set a valid Stock")
            }

            const returnableBtn = document.getElementById("ReturnablePkg");
            const expendableBtn = document.getElementById("ExpendablePkg");
            returnableBtn.checked  = false;
            expendableBtn.checked  = false;
            if(tipo == "Returnable"){
            returnableBtn.checked  = true;
            expendableBtn.checked  = false;
            }
            else{
            returnableBtn.checked  = false;
            expendableBtn.checked  = true;
            }

            console.log("commentario", tipo);
    
            document.getElementById("novoPartNumberEdit").value = pn;
            document.getElementById("novoDescriptionEdit").value = desc;
            document.getElementById("novoCommentEdit").value = comment;
            document.getElementById("novoStockEdit").value = stock;
            //document.getElementById("novoLinkEdit").files[0] = link;
            document.getElementById("novoLinkEdit").innerHTML.value = link;

            document.getElementsByName("tipo").value = tipo;

            document.getElementById("quantidadeInventarioNovoEdit").value=inv;
            document.getElementById("rowIdUpdate").value = data[8];
            
            });



/* AQUI ESTÀ O AJAX PARA O EDIT, NESTE CASO È DO CLIENTEPRODUTO */
$(document).on("click", "#EditRowButton", function () {
          /* $("#example tbody").on("click", "#EditRowButton", function () { */
      

          console.log("Cliscas-te no save");
          var rowIdUpdate = $("#rowIdUpdate").val();
          var pn = $("#novoPartNumberEdit").val();
          var descricao= $("#novoDescriptionEdit").val();
            
          var link = document.getElementById("novoLinkEdit").files[0] //$("#novoLinkEdit").val();
          var linkOld = document.getElementById("botaoShowPdf").value
                    
          var novoCommentEdit = $("#novoCommentEdit").val();
          var stock = $("#novoStockEdit").val();
          var inv =  $("#quantidadeInventarioNovoEdit").val();
          var tipo =  $("input[name=tipo]:checked").val()  // document.getElementsByName("tipo").value
      
          console.log("LINK OLD",linkOld, "link new",link)
          console.log("REQUEST A CAMINHO COM.... --> ",link,tipo)
     
            
            if(!pn.length){
                return alert("You must set a Part-Number")
            }
            if(stock <0){
                return alert("You must set a valid Stock")
                 
            }
            if(link == undefined || link == ""){
                alert("Link vazio")
            }
            else{
                if(!link.name.endsWith("pptx")){
                return alert("Not a valid file");
            }
        }
          var dataForm = new FormData();
          dataForm.append("rowIdUpdate", rowIdUpdate);
          dataForm.append("partNumberEdit", pn);
          dataForm.append("descricaoEdit", descricao);

          dataForm.append("linkEdits", linkOld);
          dataForm.append("linkEdit", link);

          dataForm.append("commentEdit", novoCommentEdit);
          dataForm.append("stockEdit", stock);
          dataForm.append("invEdit",inv);
          dataForm.append("tipoEdit", tipo);
          dataForm.append(
            "csrfmiddlewaretoken",
            $("input[name=csrfmiddlewaretoken]").val()
          );

          $.ajax({
            type: "POST",
            url: "{% url 'pManagement:updateStockPackage' %}",
            contentType: false,
            processData: false,
            waitMsg: 'Uploading your request...',
            data: dataForm,
            success: function () {
              console.log("[API] Callback to the endpoint sucess");
            },
            complete: function () {
              setTimeout(function() {
                window.location.reload()
               }, 1000);  
            },
          });
        });






$('#example').on('change', 'input', function () {
    //Get the cell of the input
    var cella = $(this).closest('th');
    
    //update the input value
    $(this).attr('value', $(this).val());
    var nome = $(this).attr('name')
    var qty = $(this).attr('value')

    //invalidate the DT cache
    table.cell($(cella)).invalidate().draw();

});
            var table = $('#example').DataTable({
                "paging": false,
                orderCellsTop: true,
                fixedHeader: true,
                overflow: true,
                "info": false,
                "scrollCollapse": true,
               

                
                select: {
                    style: 'os',
                    selector: 'th:first-child',
                    blurable: true
                },
                
                order: [[0, 'asc']],
            
                
                
                initComplete: function () {
                    this.api().columns([0, 1]).every(function () {
                        $(document).ready(function() {
  $("td").hover(
    function() {
        /* console.log(this.cell.getElementById.val) */
       // $(this).get((this.selectedRow));
      $(this).css('color', '#000000');
    }, 
    function() {
      $(this).css('background-color', 'none');
      $(this).css('color', 'black'); // or whatever your original color was
    }
  );
});
                        var column = this;
                        
                        var select = $('<select class="form-control" style="margin-left: -18px" id="selected"><option value=""></option></select>')
  
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            
                            select.append('<option value="' + d + '">' + d + '</option>')
                            /*  console.log("tas",column.data().unique().sort());
                             console.log("Coluna ->", column); */

                        });
                    });
                },
            });
           
            // Filter event handler
            $(table.table().container()).on('keyup', 'thead input', function () {
                table
                    .column($(this).data('index'))
                    .search(this.value)
                    .draw();
            });

            $('#example tbody').on('click', 'button', function () {

                var data = table.row($(this).parents('tr')).data();
                //alert(data[0] + "'s quantity of " + data[2] + " is: " + data[4]);
                //$("#myModal").modal('show');
                // Add response in Modal body
                //console.log("DATA-> ",data);
                var partNumber = data[0]
                var descricao = data[1]
                var link = data[3]
                var link_value  = link;
                if (link == "") {
                    link_value = "<strong>None</strong>"
                }
                var comentario = data[2]
                var quantidade = data[4]
                //var inventario = $(data[5]).val()
                var tipo = data[6]
               

                var time = moment().format('DD-MM-YYYY HH:mm:ss');
                $('#partNumber').val(partNumber);
                $('#descricao').html(descricao);
                $('#link').val(link);
                $('#comentario').val(comentario);
                $('#quantidade').val(quantidade);
                $('#inventario').val(inventario);
                $('#quantidadeEdit').val(quantidade);
                $('#inventarioEdit').val(inventario);
                $('#tipo').val(tipo);
            });

            $('#example tbody').on('click', '#botaoDelete', function () {

                var data = table.row($(this).parents('tr')).data();
                var partNumber = data[0]
                var descricao = data[1]
                var link = data[2]
                var comentario = data[3]
                var quantidade = data[4]
                var inventario = $(data[5]).val()
                var tipo = data[6]

                var modalInfo = "<p>" + "<b>Part-number:</b>&emsp;&emsp;" + data[0] + "</b>" +
                    "<p>" + "<b>Descrição:</b>&emsp;&emsp;&emsp;" + descricao + "</p>" +
                    "<p>" + "<b>Link:</b>&emsp;&emsp;&emsp;" + link + "</p>" +
                    "<p>" + "<b>Comment:</b>&emsp;&emsp;&emsp;" + comentario + "</p>" +
                    "<p>" + "<b>Quantidade:</b>&emsp;&emsp;" + quantidade + "</p>" +
                    "<p>" + "<b>Inventario:</b>&emsp;&emsp;" + inventario + "</p>" +
                    "<p>" + "<b>Tipo:</b>&emsp;&emsp;" + tipo + "</p>"

                //inventarioDelete
                $("#rowIdDelete").val($(data[5]).attr("id"))
                $('#infoDelete').html(modalInfo);
            });

          
         

        $('#example tbody').on('click', '#botaoShowPdf', function () {
            var data = table.row($(this).parents('tr')).data();
            var link = data[3]
            
             if(link==""){
                 return alert("Este campo não tem link")
              }
            var popup = confirm("Deseja abrir o ficheiro?")
            console.log(popup)
            if (popup == true) {
                console.log("true")
                window.open("{% url 'pManagement:pdf_view' %}?link=" + link, '_blank').focus();
            } else {
                console.log("false")
                window.open("{% url 'pManagement:pdf_view1' %}?link=" + link, '_blank').focus();
            }
    
});




            
            $('#example tbody').on('click', '#btnEdit', function () {
                console.log("CLICADO NO EDIT")
                var data = table.row($(this).parents('tr')).data();
                console.log("SSSDATAAASSS Edit -> ",data);
                var partNumber = data[0];
                var descricao = data[1];
                var comentario = data[2];
                var link = data[3];
                var stock = data[4];
                var inv = data[5];
                var tipo = data[7]
                var rowIdUpdate = data[8]
                
                if (!tipo.length) {
                alert("You must set at least 1 type.")
                return;
                }
                if(!partNumber.length){
                    alert("You must set a Part-Number")
                    return;
                }
                if(!stock.length){
                    alert("You must set a Part-Number")
                    return;
                }
                if(stock.val() <0){
                    return alert("not a positive number");
                 }
                document.getElementById("novoPartNumberEdit").value = partNumber
                document.getElementById("novoDescriptionEdit").value = descricao
                /* document.getElementById("novoLinkEdit").value = link */
                document.getElementById("novoCommentEdit").value = comentario
                document.getElementById("novoStockEdit").value = stock
                document.getElementById("quantidadeInventarioNovoEdit").value = inv
                document.getElementById("tipo").value = tipo
                document.getElementById("rowIdUpdate").value = rowIdUpdate
                // preset code
                //document.getElementsByName("RetPackage")[0].checked = false
                //document.getElementsByName("ExpPackage")[0].checked = false
                //if (tipo == "ReturnablePackage")
                //    document.getElementsByName("RetPackage")[0].checked = true
                //else
                //    document.getElementsByName("ExpPackage")[0].checked = true

                $('#rowIdUpdate').val($(data[8]));
                $.ajax({
                type: 'POST',
                url: "{% url 'pManagement:updateStockPackage' %}",
                waitMsg: 'Uploading your request...',
                data: {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    partNumber: partNumber,
                    descricao: descricao,
                    links: link,
                    comentario: comentario,
                    stock: stock,
                    tipo: tipo,
                    rowIdUpdate: rowIdUpdate,
                },
                success: function () {
                    console.log("[API] Callback to the endpoint sucess")
                },
                complete: function () {
                   // window.location.replace("{% url 'pManagement:pdf_view' %}")
                    window.location.reload()
                }
            })
            });

       
/* 
        function firstClick() {
            window.location.replace("{% url 'pManagement:stockPackage' %}?page=1")
        }

        function prevClick() {
            var page = parseInt("{{ current_page }}")
            
            if ( page == 1)
                alert("Min page reached (" + 1 + ")")
            else
                window.location.replace("{% url 'pManagement:stockPackage' %}?page=" + (page-1))
        }

            
      

        function nextClick() {
            var page = parseInt("{{ current_page }}")
            var page_max = parseInt("{{ page_max }}")
            if (page == page_max)
                alert("Max page reached (" + page_max + ")")
            else
                window.location.replace("{% url 'pManagement:stockPackage' %}?page=" + (page+1))
        }

        function lastClick() {
            var page_max = parseInt("{{ page_max }}")
            window.location.replace("{% url 'pManagement:stockPackage' %}?page=" + (page_max))
        } */
       
        function botaoUpdateStock() {
            var inventorys = []
            var ids = []

            var table = document.getElementById('example');
                
            for (var i = 1, n = table.rows.length - 1; i < n; i++){
                var row = $(table.rows[i].cells[5].innerHTML)
                inventorys.push(row.val())
                if(row.val() < 0){
                    return alert("You must set a valid Stock in all entries")
                }
                ids.push(row.attr("id"))  
            }

            $.ajax({
                type: 'POST',
                url: "{% url 'pManagement:updateAllStock' %}",
                data: {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    ids: ids,
                    inventorys: inventorys,
                },
                success: function () {
                    console.log("[API] Callback to the endpoint sucess")
                },
                complete: function () {
                    //window.location.replace("{% url 'pManagement:stockPackage' %}")
                   // window.location.reload()
                }
            })
        }


        function botaoUpdateInventario() {
            var inventorys = []
            var ids = []
            var quantidades = []

            var table = document.getElementById('example');
            
            for (var i = 1, n = table.rows.length - 1; i < n; i++){
                quantidades.push(table.rows[i].cells[4].innerHTML)
                var row = $(table.rows[i].cells[5].innerHTML)
                inventorys.push(row.val())
                
                if(row.val() <0){
                    return alert("All Inventory items must be a positive number");
                }
                ids.push(row.attr("id"))  
            }
            console.log("Making the request at updateInventory")
           
           
            $.ajax({
                type: 'POST',
                url: "{% url 'pManagement:updateInventory' %}",
                data: {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    ids: ids,
                    inventorys: inventorys,
                    quantidades: quantidades,
                },
                success: function () {

                    console.log("[API] Callback to the endpoint sucess")
                },
                complete: function () {
                        window.location.replace("{% url 'pManagement:stockPackage' %}")
                }
                
            }) 
    
        }


        function ClearFilters() {
            $('.form-control').val('');  // Clear ext and select inputs with classname form-control
            $('#chk').prop('checked', false).change();  // Clear checkbox and trigger change event

            var table = $('#example').DataTable();
            table
                .search('')
                .columns().search('')
                .draw();
        }

        function uploadStockPackage() {
            console.log("Button upload")
            var data = new FormData()
            var file = $("#myfile")[0].files[0]
            /* if(file.endsWith(".xlsx") == false){
                alert("Only Excel files are acepted")
                return false
            } */
            data.append("myfile", file)
            data.append("csrfmiddlewaretoken", $('input[name=csrfmiddlewaretoken]').val())

            $.ajax({
                type: 'POST',
                url: "{% url 'pManagement:uploadStockFileStock' %}",
                processData : false,
                contentType : false,
                data: data,
                success: function () {
                    console.log("[API] Callback to the endpoint sucess")
                },
                complete: function () {
                    window.location.reload()
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                },
            })
        }


        $(document).on('click', '#downloadExcel', function () {
            window.location.replace("{% url 'pManagement:downloadExcelStockPackage' %}")
        });
    </script>
{% endblock %}