{% extends "vware/baseArmazem.html" %}
{% load static %}

{% block body_title %}

    <div class="text-primary">
        <h6><b><i class="fa fa-home text-secondary"></i><a href={% url 'main:main' %}><span
                class="text-secondary"> Home | </span></a> Supply Package</b></h6>
    </div>
    <style>
        .button {
 
 height: 70px;

 font-family: Arial, "Helvetica", sans-serif;
 font-size: 45px;
 color: #fff;
 text-decoration: none;
 text-align: center;
 text-shadow: 1px 1px 0 #7D9EAD, 2px 2px 0 #7D9EAD, 1px 1px 0 #7D9EAD;
 padding-top: 6px;
 margin-left: 35%;
 margin-right: auto;
 left: 30px;
 position: relative;
 cursor: pointer;
 border: none;
 background: #FBA51A;
 background-image: linear-gradient(bottom, #E57200 0%, #FBA51A 100%);
 border-radius: 5px;
 box-shadow: inset 0px 1px 0px #FBA51A, 0px 5px 0px 0px #cb7b25, 0px 10px 5px #999;

}
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.buttonsUpdate1{
    position: relative;
    right:    0;
    bottom:   35px;
    padding: 5px 10px;
    background: #FBA51A;
    text-align: center;
    font-size: 15px;
    margin: 0;
    width: 5%;
    height: auto;
    margin-left: 85%;
    
}
.buttonsUpdate2{
    position: relative;
    right:    0;
    bottom:   70px;
    padding: 5px 10px;
    background: #FBA51A;
    text-align: center;
    font-size: 15px;
    margin: 0;
    width: 5%;
    height: auto;
    margin-left: 79%;
}

</style>
{% endblock %}


{% block body_content %}
    <div class="mt-3">
        <table id="configs" class="display" style="width:100%">
            <thead>
            <tr>
                <th>Part Number</th>
                <th>Description</th>
                <th>Comment</th>
                <td>
                    <div class="text-center fas fa-square">Client Package</div>
                </td>
                <td>
                    <div class="text-center far fa-square"></div>
                    Bomb
                </td>
                <td>
                    <div class="fas fa-stopwatch">Suply Time</div>
                </td>
                <td>
                    <div class="fas fa-warehouse"></div>
                    Stock
                </td>
                <td>
                    <div class="fas fa-cubes"></div>
                    Inventory
                </td>
               
                <td style="width: 7%">
                    <div class="fas fa-external-link-alt"></div>
                    Link
                </td>
                <td style="width: 7%"></td>
                <td style="display: none">ID-package</td>
            
            </tr>
            </thead>
            <tbody>
            {% for client in clientes.all %}
                {% for produto in produtos.all %}
                    {% for tipo in tipoEmbalagem.all %} 
                        {% if client.id == produto.cliente.id and tipo.produto.id == produto.id and tipo.produto.cliente.oem == produto.cliente.oem %}
                        <!-- stockPackage.id == produto.part_number_id.id -->
                            <tr>
                                <td>{{ produto.pn }}</td>
                                <td>{{ produto.descricao }}</td>
                                <td>{{ produto.comentario }}</td> 
                                <td id="returnable" name="returnable" class="text-center">
                                    <a class="fas fa-list-alt fa-lg"></a>
                                </td>
                                <td id="expendable" name="expendable" class="text-center">
                                    <a class="fas fa-list-alt fa-lg"></a>
                                </td>
                                <td>{{ tipo.tempoSupply }}</td>
                                <td class="text-center">{{ produto.quantidade }}</td>
                                <th><input style="width: 70px; margin-left: 8px" class=""
                                           type="number"
                                           name="{{ tipo.id }}" id="{{ tipo.id }}"
                                           value="{{ produto.inventario}}"></th>
                                <td class="text-center">{{ produto.link }}</td>
                                <th>
                                    <div class="form-inline">
                                        <a type="button" id="botaoEdit" title="edit" class="fas fa-pen-square"
                                           style="height: 18px; margin-left: 10px"
                                           data-toggle="modal" data-target="#updateLinha">
                                        </a>
                                        <a type="button" id="botaoDelete" title="delete" class="fas fa-trash-alt"
                                           style="height: 18px; margin-left: 15px"
                                           data-toggle="modal" data-target="#deleteLinha">
                                        </a>
                                    </div>
                                </th>
                                <td style="display: none" value="{{ tipo.id }}">{{ tipo.id }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}

            </tbody>
            <tfoot>
            <tr>
                <th>Part Number</th>
                <th>Product</th>
                <th>Comment</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </tfoot>
        </table>
        <div class="ml-lg-4 mb-2 input-group">
            <a href="#" style="margin-left: 2% ;" class="btn btn-outline-primary" value="ClearFilters" onclick="ClearFilters()">Clear filters</a>
            <button type="submit" class="button"  data-toggle="modal"
            data-target="#addLinha">
        NOVO ITEM
    </button>
        </div>
    </div>
    {% csrf_token %}
                       
    <button   title="Gravar" type="submit" class="btn btn-primary buttonsUpdate1"id ="botaoUpdateStocks" onclick="botaoUpdateStock()" > Gravar </button>
    {% csrf_token %}

        <button type="button" title="Update"    class="btn btn-primary btn btn-primary buttonsUpdate2" data-toggle="modal" data-target="#updateStock"  > Update </button>


    <!-- Modal onde é adicionada uma nova linha -->
    <form method="POST" class="form" action="{% url 'pManagement:addRowSupplyPackage' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal fade" id="addLinha" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="myModalLabel"><b>Create new row</b></h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-inline">
                            <p class="mt-2">Product Part number: </p>
                            <input style="margin-left: 80px" type="text" id="pnAdd" name="pnAdd" value="{{ produto.pn }}">
                        </div>
                        <div class="form-inline">
                            <p class="mt-2">Product Name: </p>
                            <input style="margin-left: 80px" type="text" id="prodNameAdd" name="prodNameAdd" value="{{ produto.nome }}">
                        </div>
                        <div class="form-inline">
                            <p class="mt-2">Product desctription: </p>
                            <input style="margin-left: 68px" type="text" id="prodDescriptionAdd" name="prodDescriptionAdd"
                                   value="{{ produto.descricao}}">
                        </div>
                        <div class="form-inline">
                            <p class="mt-2">Comment: </p>
                            <input style="margin-left: 67px" type="text" id="prodCommentAdd" name="prodCommentAdd"
                                   value="{{ produto.comentario}}">
                        </div>
                        <div class="form-inline">
                            <p class="mt-2">Supply Time </p>
                            <select style="margin-left: 42px; width: 160px" name="supplyTimeAdd" id="supplyTimeAdd">
                                <option value=""></option>
                                <option value="30">30</option>
                                <option value="60">60</option>
                                <option value="90">90</option>
                                <option value="120">120</option>
                                <option value="150">150</option>
                                <option value="180">180</option>
                                <option value="210">210</option>
                                <option value="240">240</option>
                            </select>
                        </div>
                       
                        <div class="form-inline">
                            <p class="mt-2">Stock: </p>
                            <input style="margin-left: 45px" type="number" id="prodStockAdd" name="prodStockAdd"
                                   value="{{ produto.quantidade }}">
                        </div>
                        <div class="form-inline mt-3">
                            <h6 class="mt-1">Link: </h6>
                                   <td><input type="file"  style="margin-left: 67px" name="novoLinkEdit"  id="novoLinkEdit" value="{{ link }}"/></td>
                        </div>
                        <div class="form-inline mt-3">
                            <h6 class="mt-1">Clients: </h6>
                            <button type="button" id="openClientPackage" name="openClientPackage" style="margin-left: 33px"> 
                                Open
                            </button>
                        </div>
                       
                        <div class="form-inline mt-3">
                            <h6 class="mt-1">Stock Packages: </h6>
                            <button type="button" id="bomb" name="bomb" style="margin-left: 30px">
                                Open
                            </button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <!-- Modal onde é feito o delete de uma linha especifica -->
    <form method="POST" class="form" action="{% url 'pManagement:deleteLinhaSupply' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal fade" id="deleteLinha" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="myModalLabel"><b>Delete this row?</b></h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <p id="infoDelete"></p></br>
                       <!--  <input type="hidden" id="oemDelete" name="oemDelete" value="{{ oem }}"> -->
                       <input type="hidden" id="rowIdDelete" name="rowIdDelete" value="{{rowIdDelete}}">
                       <input type="hidden" id="pnDelete" name="pnDelete" value="{{ produto.pn }}">
                        <input type="hidden" id="produtoNomeDelete" name="produtoNomeDelete" value="{{ produto.nome }}">
                        <input type="hidden" id="prodDescricaoDelete" name="prodDescricaoDelete" value="{{ produto.descricao}}">
                        <input type="hidden" id="partNumberDelete" name="partNumberDelete" value="{{ produto.part_number_id }}">
                        <input type="hidden" id="supplyTimeDelete" name="supplyTimeDelete" value="{{ produto.supplyTime }}">
                        <input type="hidden" id="prodQuantidadeDelete" name="prodQuantidadeDelete" value="{{ produto.quantidade }}">
                        <input type="hidden" id="prodInventarioDelete" name="prodInventarioDelete" value="{{ produto.inventario}}">
                        
                        <!-- Aqui não tenho de especificar os campos da linha? -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <!-- Modal onde é feito update de cada linha -->
    <form method="POST" class="form" action="{% url 'pManagement:updateLinhaSupply' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal fade" id="updateLinha" tabindex="-1" role="dialog" aria-labelledby="...">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="myModalLabel"><b>Edit Row</b></h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>

                    </div>
                    <div class="modal-body">
                        <h3><b>Actual Values</b></h3>
                        <p id="infoEdit"></p></br>
                        <input type="hidden" id="pnEdit" name="pnEdit" value="{{ produto.pn }}">
                        <!-- <input type="hidden" id="nameEdit" name="nameEdit" value="{{ produto.nome }}">
                        Adicionar campos das bombs? -->
                        <input type="hidden" id="descriptionEdit" name="descriptionEdit" value="{{ produto.descricao}}">
                        <input type="hidden" id="commentEdit" name="commentEdit" value="{{ produto.comentario }}">
                        <input type="hidden" id="stockEdit" name="stockEdit" value="{{ produto.quantidade }}">
                        <input type="hidden" id="inventoryEdit" name="inventoryEdit" value="{{ produto.inventario }}">
                        <input type="hidden" id="" name="linkEdit" value="{{ produto.link }}">
                        <div class="form-inline mt-3">
                        
                        <!-- <input type="hidden" id="idProduto" name="idProduto" value="{{ produto.id }}"> -->

                        <h3><b>Replace by</b></h3>
                        <div class="form-inline">
                            <h6 class="mt-1">Client: </h6>
                            <select style="margin-left: 75px" name="novoCliente" id="novoCliente">
                                <option value="">Select Client</option>
                                {% for client in clientes.all %}
                                    <option value="{{ client.id }}">{{ client.oem }}</option>
                                {% endfor %}
                            </select>
                            <input placeholder="Type here new client" type="form" name="novoClienteInput"
                                   id="novoClienteInput" style="margin-left: 16px">
                        </div>
                        <div class="form-inline mt-3">
                            <h6 class="mt-1">Description: </h6>
                            <input placeholder="New description" type="form" name="novoDescriptionEdit"
                                   id="novoDescriptionEdit" style="margin-left: 21px; width: 300px"  value="{{ descricao }}">
                        </div>
                        <div class="form-inline mt-3">
                            <h6 class="mt-1">Comment: </h6>
                            <input placeholder="New Comment" type="form" name="novoCommentEdit"
                                   id="novoCommentEdit" style="margin-left: 21px; width: 300px"  value="{{ descricao }}">
                        </div>
                       <!--  <div class="form-inline mt-3">
                            <h6 class="mt-1">Product: </h6>
                            <select style="margin-left: 63px" name="novoProduto" id="novoProduto">
                                <option value="">Select Product</option>
                                {% for produto in produtos.all %}
                                    <option value="{{ produto.id }}">{{ produto.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <input placeholder="Type here new product" size="35px" type="form" name="novoParteInput"
                               id="novoParteInput" style="margin-left: 116px"> -->
                        <div class="form-inline mt-3">
                            <h6 class="mt-1">Quantity: </h6>
                            <th style="width: 5%" id="novoStockProduto" name="novoStockProduto" title="{{ produto.inventario|default:'Empty' }}">
                                <input style="width: 70px; margin-left: 8px" class="" 
                                type="number"
                                name="{{ partnumber.inventario|default:"" }}" id="{{ partnumber.id }}"
                                value="{{ partnumber.inventario|default:"" }}">
                            </th>
                        </div>
                        <div class="form-inline mt-3">
                            <h6 class="mt-1">Supply Time: </h6>
                            <select style="margin-left: 38px" name="novoSupplyTime" id="novoSupplyTime">
                                <option value=""></option>
                                <option value="30">30</option>
                                <option value="60">60</option>
                                <option value="90">90</option>
                                <option value="120">120</option>
                                <option value="150">150</option>
                                <option value="180">180</option>
                                <option value="210">210</option>
                                <option value="240">240</option>
                            </select>
                        </div>
                        <div class="form-inline mt-3">
                            <h6 class="mt-1">Link: </h6>
                                   <td><input type="file"  style="margin-left: 67px" name="linkEdit"  id="linkEdit" value="{{ produto.link }}"/></td>
                        </div>
                        <div class="form-inline mt-3">
                            <h6 class="mt-1">Clients: </h6>
                            <button type="button" id="openClientPackage" name="openClientPackage" style="margin-left: 33px">
                                Open
                            </button>
                        </div>
                        <div class="form-inline mt-3">
                            <h6 class="mt-1">Stock Package: </h6>
                            <button type="button" id="openBomb" name="openBomb" style="margin-left: 30px">
                                Open
                            </button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="closeButtonEdit" name="closeButtonEdit">
                            Close
                        </button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Bloco que vai ser para adicionar clientes a um produto o que está ao lado da bomb-->
    <div class="modal fade" id="partNumbersExpendable" data-backdrop="false" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel"><b>Part numbers Stock Package</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p id="infoLinhaExpendable"></p></br>
                    <table id="pnExpendableTable" class="display" style="width: 100%">
                        <thead>
                        <tr>
                            <td></td>
                            <th>Client </th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for pn in produtos.all %}
                            <tr>
                                <td></td>
                                {%if clientes.id in pn.cliente_id%}
                                    <td>{{ clientes.oem }}</td>
                                    <td>{{ produtos.partNumberStockPackage.descricao }}</td>
                                {%endif%}
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td></td>
                            <th></th>
                            <td></td>
                        </tr>
                        </tfoot>
                    </table>
                    


                </div>
                
                <div class="modal-footer">
             
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" id="savePNExpendable" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

    <!-- bloco que vai adicionar partes(StockPAckage) ao produto -->
    <div class="modal fade" id="partNumbersReturnable" data-backdrop="false" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel"><b>Clients</b></h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p id="infoLinhaReturnable"></p></br>
                    <table id="pnReturnable" class="display" style="width:100%">
                        <thead style="width:100%">
                        <tr>
                            <th></th>
                            <th>Product </th>
                            <th>Parts</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for pn in produtos.all %}
                            <tr>
                                <td></td>
                                <td> {{ pn.partNumberStockPackage.pn }} </td>
                                <td> {{ pn.partNumberStockPackage.descricao }} </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td></td>
                            <th></th>
                            <td></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="modal-footer">
                    <!-- bloco onde vai ser adicionado novo cliente à lista dos clientes que vao ser relacionados com o produto -->
                    <button type="button" style="margin-left: 0px;" class="button" data-toggle="modal" data-target="#addLinhaC" > NOVO Cliente </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" id="savePNReturnable" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="showBomb" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel"><b>Stock Package</b></h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p id="listPartNumbersBomb"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="showClientPackage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel"><b>Client Package</b></h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p id="listClientPackage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" style="margin-left: 0px;" class="button" data-toggle="modal" data-target="#addLinhaCliente" > NOVO Cliente </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
/*         function myFunction() {
  var popup = document.getElementById("myPopup");
  popup.classList.toggle("show");
}
  */       $(document).ready(function () {
            console.log("AO CARREGAR A PAGINA  print1");

            var global_listaExpendable = "";
            var global_listaReturnable = "";

            // Setup - add a text input to each footer cell
            $('#configs thead th').each(function (i) {
                var title = $('#configs thead th').eq($(this).index()).text();
                $(this).html('<input class="form-control" style="margin-left: -18px" type="text" placeholder="Search ' + title + '" data-index="' + i + '" />');
            });

            $('#configs').on('change', 'input', function () {
                //Get the cell of the input
                var cella = $(this).closest('th');

                //update the input value
                $(this).attr('value', $(this).val());
                var nome = $(this).attr('name')
                var qty = $(this).attr('value')
                console.log(nome)
                console.log(qty)

                $.ajax({
                    type: 'POST',
                    url: '/packing/updateSupplyStock',
                    data: {
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                        nome: nome,
                        quantidade: qty
                    },
                    success: function () {
                        console.log("sucess")
                    }
                })

                //invalidate the DT cache
                table.cell($(cell)).invalidate().draw();

            });

            var table = $('#configs').DataTable({
                "info": false,
                "scrollY": "594",
                "paging": false,
                "ordering": false,
                "orderCellsTop": true,
                "fixedHeader": true,

                select: {
                    style: 'os',
                    selector: 'th:first-child',
                    blurable: true
                },
                order: [[0, 'asc']],

                initComplete: function () {
                    
                    this.api().columns([0, 1, 2]).every(function () {
                        var column = this;
                        var select = $('<select class="form-control" style="margin-left: -9px" id="selected"><option value=""></option></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            console.log("NESTE BLOCO MOSTRA INFOS DOS FILTOS EM BAIXO DA ROW 1/3"+ d)
                            select.append('<option value="' + d  + '">' + d + '</option>')
                        });
                    });
                },
            });

            // Setup - add a text input to each footer cell
            $('#pnExpendableTable tfoot th').each(function (i) {
               
                 /* BUG */
                var title = $('#pnExpendable tfoot th').eq($(this).index()).text();
                console.log("teste"+title)
                $(this).html('<input class="form-control" style="margin-left: -18px" type="text" placeholder="Search ' + title + '" data-index="' + i + '" />');
               
            });
            var tableExpendable = $('#pnExpendableTable').DataTable({
                "info": false,
                "paging": false,
                "scrollCollapse": true,
                "scrollY": "420px",
                columnDefs: [{
                    orderable: false,
                    className: 'select-checkbox',
                    targets: 0,
                }],
                select: {
                    style: 'multi',
                    selector: 'td:first-child'
                },
                order: [[1, 'asc']],

                initComplete: function () {
                  

                    this.api().columns([1]).every(function () {
                        
                        var that = this;
                        //$('#pnExpendable tfoot tr').appendTo('#pnExpendable thead');   // To displays the search boxs at the top instead to the bottom of the table
                        $('input', this.footer()).on('keyup change clear', function () {
                            console.log("print10")
                            if (that.search() !== this.value) {
                                that
                                    .search(this.value)
                                    .draw();
                            }
                        });
                    });
                }
            });

            // Setup - add a text input to each footer cell
            $('#pnReturnable tfoot th').each(function (i) {
                console.log("print5")
                var title = $('#pnReturnable tfoot th').eq($(this).index()).text();
                $(this).html('<input class="form-control" style="margin-left: -18px" type="text" placeholder="Search ' + title + '" data-index="' + i + '" />');
                console.log("print11")
            });
            var tableReturnable = $('#pnReturnable').DataTable({
                "info": false,
                "paging": false,
                "scrollCollapse": true,
                "scrollY": "420px",
                columnDefs: [{
                    orderable: false,
                    className: 'select-checkbox',
                    targets: 0
                }],
                select: {
                    style: 'multi',
                    selector: 'td:first-child'
                },
                order: [[1, 'asc']],
                initComplete: function () {

                    this.api().columns([1]).every(function () {
                        var that = this;

                        //$('#pnReturnable tfoot tr').appendTo('#pnReturnable thead');   // To displays the search boxs at the top instead to the bottom of the table
                        $('input', this.footer()).on('keyup change clear', function () {
                            console.log("print6")
                            if (that.search() !== this.value) {
                                that
                                    .search(this.value)
                                    .draw();
                            }
                        });
                    });
                }
            });

            $(document).on('click', '#savePNExpendable', function () {
                console.log("print6")
                var todosExpendable = []
                let todosExpendableFinal = ""
                $.each(tableExpendable.rows('.selected').nodes(), function (i, item) {
                    var id = item.id;
                    var data = tableExpendable.row(this).data();
                    todosExpendable.push(data[1])
                });
                //alert("Part numbers:  " + todosExpendable);

                for (let member in todosExpendable) {
                    todosExpendableFinal += todosExpendable[member]
                    todosExpendableFinal += ","
                }

                var pacote = document.getElementById('idPacote').value
                var oemEdit = document.getElementById('oemEdit').value
                var produtoEdit = document.getElementById('produtoEdit').value
                var embalagemEdit = document.getElementById('embalagemEdit').value
                var supplyTimeEdit = document.getElementById('supplyTimeEdit').value

                $.ajax({
                    type: 'POST',
                    url: '/packing/savePNExpendable',
                    data: {
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                        idExpendable: pacote,
                        listaPNExpendable: todosExpendableFinal
                    },
                    success: function () {
                        $("#partNumbersExpendable").hide();
                        $("#updateLinha").hide();
                        $(".modal-backdrop").remove();

                        $.ajax({
                            type: 'GET',
                            url: '/packing/getPNReturnable',
                            data: {
                                idPacote: pacote,
                            },
                            success: function (response) {
                                global_listaReturnable = response["listaReturnable"]
                                console.log("success")
                                $.ajax({
                                    type: 'GET',
                                    url: '/packing/getPNExpendable',
                                    data: {
                                        idPacote: pacote,
                                    },
                                    success: function (response) {
                                        global_listaExpendable = response["listaExpendable"]
                                        console.log("success")
                                        var myModal = new bootstrap.Modal(document.getElementById('updateLinha'))
                                        myModal.show()

                                        var modalInfo = "<p>" + "Client:&emsp;&emsp;" + oemEdit + "</p>" +
                                            "<p>" + "Product: &emsp;" + produtoEdit + "</p>" +
                                            "<p>" + "Package:&emsp;" + embalagemEdit + "</p>" +
                                            "<p>" + "Supply time:&emsp;<b>" + supplyTimeEdit + "</b></p>" +
                                            "<p>" + "Part number Returnable:&emsp;" + global_listaReturnable + "</p>" +
                                            "<p>" + "Part number Expendable:&emsp;" + global_listaExpendable + "</p>"

                                        $('#infoEdit').html(modalInfo);
                                        $('#oemEdit').val(oemEdit);
                                        $('#produtoEdit').val(produtoEdit);
                                        $('#embalagemEdit').val(embalagemEdit);
                                        $('#supplyTimeEdit').val(supplyTimeEdit);
                                    }
                                })
                            }
                        })
                    }
                })
            });

            $(document).on('click', '#closeButtonEdit', function () {
                console.log("print14")
                $("#updateLinha").hide();
                $(".modal-backdrop").remove();
            });

            $(document).on('click', '#savePNReturnable', function () {
                console.log("print15")
                var todosReturnable = []
                let todosReturnableFinal = ""
                console.log("tas dentro de algo");
                $.each(tableReturnable.rows('.selected').nodes(), function (i, item) {
                    var data = tableReturnable.row(this).data();
                    console.log(data[1])
                    todosReturnable.push(data[1])
                });
                //alert("Part numbers:  " + todosExpendable);

                for (let member in todosReturnable) {
                    todosReturnableFinal += todosReturnable[member]
                    todosReturnableFinal += ","
                }

                var pacote = document.getElementById('idPacote').value
                var oemEdit = document.getElementById('oemEdit').value
                var produtoEdit = document.getElementById('produtoEdit').value
                var embalagemEdit = document.getElementById('embalagemEdit').value
                var supplyTimeEdit = document.getElementById('supplyTimeEdit').value

                $.ajax({
                    type: 'POST',
                    url: '/packing/savePNReturnable',
                    data: {
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                        idReturnable: pacote,
                        listaPNReturnable: todosReturnableFinal
                    },
                    success: function () {
                        $("#partNumbersReturnable").hide();
                        $("#updateLinha").hide();
                        $(".modal-backdrop").remove();

                        $.ajax({
                            type: 'GET',
                            url: '/packing/getPNReturnable',
                            data: {
                                idPacote: pacote,
                            },
                            success: function (response) {
                                global_listaReturnable = response["listaReturnable"]
                                console.log("success")
                                $.ajax({
                                    type: 'GET',
                                    url: '/packing/getPNExpendable',
                                    data: {
                                        idPacote: pacote,
                                    },
                                    success: function (response) {
                                        global_listaExpendable = response["listaExpendable"]
                                        console.log("success")
                                        var myModal = new bootstrap.Modal(document.getElementById('updateLinha'))
                                        myModal.show()

                                        var modalInfo = "<p>" + "Client:&emsp;&emsp;" + oemEdit + "</p>" +
                                            "<p>" + "Product: &emsp;" + produtoEdit + "</p>" +
                                            "<p>" + "Package:&emsp;" + embalagemEdit + "</p>" +
                                            "<p>" + "Supply time:&emsp;<b>" + supplyTimeEdit + "</b></p>" +
                                            "<p>" + "Part number Returnable:&emsp;" + global_listaReturnable + "</p>" +
                                            "<p>" + "Part number Expendable:&emsp;" + global_listaExpendable + "</p>"

                                        $('#infoEdit').html(modalInfo);
                                        $('#oemEdit').val(oemEdit);
                                        $('#produtoEdit').val(produtoEdit);
                                        $('#embalagemEdit').val(embalagemEdit);
                                        $('#supplyTimeEdit').val(supplyTimeEdit);
                                    }
                                })
                            }
                        })
                    }
                })
            });

            $(document).on('click', '#openBomb', function () {
                console.log("print16")
                tableExpendable.rows().deselect();
                var myModal = new bootstrap.Modal(document.getElementById('produto.cliente_id.oem'))
                myModal.show()
            });

            $('#partNumbersExpendable').on('shown.bs.modal', function (e) {
                console.log("print17")
                $.fn.dataTable.tables({visible: true, api: true}).columns.adjust();
            });

            $(document).on('click', '#openClientPackage', function () {
                console.log("tas do clicavel do OPEN");
                tableReturnable.rows().deselect();
                var myModal = new bootstrap.Modal(document.getElementById('part_number_id.pn'))
                myModal.show()
            });

            $('#partNumbersReturnable').on('shown.bs.modal', function (e) {
                console.log("tas dentro de algo"+e);
                $.fn.dataTable.tables({visible: true, api: true}).columns.adjust();
            });

            $('#configs tbody').on('click', '#bomb', function () {
                console.log("tas dentro de bomb NÂO CHEGA AQUI");
                var data = table.row($(this).parents('tr')).data();
               
                console.log(data)

                var idPacote = data[9]

                $.ajax({
                    type: 'GET',
                    url: '/packing/getPNExpendable',
                    data: {
                        idPacote: idPacote,
                    },
                    success: function (response) {
                        var myModal = new bootstrap.Modal(document.getElementById('showBomb'))
                        myModal.show()
                        if (response["listaPartNumbersBomb"] != null) {
                            var myArray = response["listaExpendable"].split(",")
                            var myFinalString = ""
                            for (let word in myArray) {
                                myFinalString += myArray[word]
                                myFinalString += "</br>"
                            }
                            $('#listPartNumbersBomb').html(myFinalString);
                        }
                        else{
                            $('#listPartNumbersBomb').html(null);
                        }
                    }
                })
            });

            $('#configs tbody').on('click', '#bomb', function () {
                console.log("TAS NO CLICAVEL DO BOMB")
                var data = table.row($(this).parents('tr')).data();
                console.log("returnable")

                var idPacote = data[9]

                $.ajax({
                    type: 'GET',
                    url: '/packing/getPNReturnable',
                    data: {
                        idPacote: idPacote,
                    },
                    success: function (response) {
                        console.log(response)
                        var myModal = new bootstrap.Modal(document.getElementById('showClientPackage'))
                        myModal.show()
                        if (response["listaReturnable"] != null) {
                            console.log("entrou no if")
                            var myArray = response["listaReturnable"].split(",")
                            var myFinalString = ""
                            for (let word in myArray) {
                                myFinalString += myArray[word]
                                myFinalString += "</br>"
                            }
                            $('#listClientPackage').html(myFinalString);
                        } else {
                            $('#listClientPackage').html(null);
                        }
                    }
                })
            });

            // Filter event handler
            $(table.table().container()).on('keyup', 'thead input', function () {
                table
                    .column($(this).data('index'))
                    .search(this.value)
                    .draw();
            });

            $('#configs tbody').on('click', '#botaoDelete', function () {
                console.log("tas dentro de bomb NÂO CHEGA AQUI");
                var data = table.row($(this).parents('tr')).data();

                var oem = data[0]
                var produto = data[1]
                var embalagem = data[2]
                var supplyTime = data[5]
                var modalInfo = "<p>" + "Client:&emsp;&emsp;" + data[0] + "</p>" +
                    "<p>" + "Product: &emsp;" + data[1] + "</p>" +
                    "<p>" + "Package:&emsp;" + data[2] + "</p>" +
                    "<p>" + "Supply time:&emsp;<b>" + data[5] + "</b></p>"
                $('#infoDelete').html(modalInfo);
                $('#oemDelete').val(oem);
                $('#produtoDelete').val(produto);
                $('#embalagemDelete').val(embalagem);
                $('#supplyTimeDelete').val(supplyTime);

            });

            {% comment %}$('#configs tbody').on('click', '#botaoEdit', function () {
                var data = table.row($(this).parents('tr')).data();
                var oem = data[0]
                var produto = data[1]
                var embalagem = data[2]
                var supplyTime = data[5]
                var idPacote = data[8]

                $.ajax({
                    type: 'GET',
                    url: '/packing/getPNReturnable',
                    data: {
                        idPacote: idPacote,
                    },
                    success: function (response) {
                        global_listaReturnable = response["listaReturnable"]
                        console.log("success")
                    }
                })

                $.ajax({
                    type: 'GET',
                    url: '/packing/getPNExpendable',
                    data: {
                        idPacote: idPacote,
                    },
                    success: function (response) {
                        global_listaExpendable = response["listaExpendable"]
                        console.log("success")
                    }
                })

                var modalInfo = "<p>" + "Client:&emsp;&emsp;" + data[0] + "</p>" +
                    "<p>" + "Product: &emsp;" + data[1] + "</p>" +
                    "<p>" + "Package:&emsp;" + data[2] + "</p>" +
                    "<p>" + "Supply time:&emsp;<b>" + data[5] + "</b></p>" +
                   /*  "<p>"+ "<b>"+ "</b>"+" </p>"+ "<p>" + "<b>"+ "</b>"+"</p>"+
                    "<p>" +"<b>"+ "</b>"+ "</p>"+ "<p>"+ +"<b>" + "</b>"+  "</p>" + */
                    "<p>" + "Part number Expendable:&emsp;" + global_listaExpendable + "</p>" +
                    "<p>" + "Part number Returnable:&emsp;" + global_listaReturnable + "</p>"
                $('#infoEdit').html(modalInfo);
                $('#oemEdit').val(oem);
                $('#produtoEdit').val(produto);
                $('#embalagemEdit').val(embalagem);
                $('#supplyTimeEdit').val(supplyTime);
                $('#idPacote').val(idPacote)
            });{% endcomment %}

            $('#configs tbody').on('click', '#botaoEdit', function () {
                console.log("tas dentro de bomb NÂO CHEGA AQUI");
                var data = table.row($(this).parents('tr')).data();
                var oem = data[0]
                var produto = data[1]
                var embalagem = data[2]
                var supplyTime = data[5]
                var idPacote = data[9]

                $.ajax({
                    type: 'GET',
                    url: '/packing/getPNReturnable',
                    data: {
                        idPacote: idPacote,
                    },
                    success: function (response) {
                        global_listaReturnable = response["listaReturnable"]
                        console.log("success")
                        $.ajax({
                            type: 'GET',
                            url: '/packing/getPNExpendable',
                            data: {
                                idPacote: idPacote,
                            },
                            success: function (response) {
                                global_listaExpendable = response["listaExpendable"]
                                console.log("success")
                                var myModal = new bootstrap.Modal(document.getElementById('updateLinha'))
                                myModal.show()

                                var modalInfo = "<p>" + "Client:&emsp;&emsp;" + data[0] + "</p>" +
                                    "<p>" + "Product: &emsp;" + data[1] + "</p>" +
                                    "<p>" + "Package:&emsp;" + data[2] + "</p>" +
                                    "<p>" + "Supply time:&emsp;<b>" + data[5] + "</b></p>" +
                                    
                                    "<p>" + "Part number Returnable:&emsp;" + global_listaReturnable + "</p>" +
                                    "<p>" + "Part number Expendable:&emsp;" + global_listaExpendable + "</p>"

                                $('#infoEdit').html(modalInfo);
                                $('#oemEdit').val(oem);
                                $('#produtoEdit').val(produto);
                                $('#embalagemEdit').val(embalagem);
                                $('#supplyTimeEdit').val(supplyTime);
                                $('#idPacote').val(idPacote)
                            }
                        })
                    }
                })
            });
        });

        function ClearFilters() {
            $('.form-control').val('');  // Clear ext and select inputs with classname form-control
            $('#chk').prop('checked', false).change();  // Clear checkbox and trigger change event

            var table = $('#configs').DataTable();
            table
                .search('')
                .columns().search('')
                .draw();
        }

        function botaoUpdateStock() {
            var inventorys = []
            var ids = []

            var table = document.getElementById('example');
                
            for (var i = 1, n = table.rows.length - 1; i < n; i++){
                var row = $(table.rows[i].cells[5].innerHTML)
                inventorys.push(row.val())
                ids.push(row.attr("id"))  
            }

            $.ajax({
                type: 'POST',
                url: "{% url 'pManagement:updateAllStock' %}",
                data: {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    ids: ids,
                    inventorys: inventorys,
                },
                success: function () {
                    console.log("[API] Callback to the endpoint sucess")
                },
                complete: function () {
                    window.location.replace("{% url 'pManagement:stockPackage' %}?page=" + (current_page))
                   // window.location.reload()
                }
            })
        }


        function botaoUpdateInventario() {
            var inventorys = []
            var ids = []
            var quantidades = []

            var table = document.getElementById('example');
            
        
            for (var i = 1, n = table.rows.length - 1; i < n; i++){
                quantidades.push(table.rows[i].cells[4].innerHTML)
                var row = $(table.rows[i].cells[5].innerHTML)
                inventorys.push(row.val())
                ids.push(row.attr("id"))  
            }

            console.log("Making the request at updateInventory")
           
           
            $.ajax({
                type: 'POST',
                url: "{% url 'pManagement:updateInventory' %}",
                data: {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    ids: ids,
                    inventorys: inventorys,
                    quantidades: quantidades,
                },
                success: function () {

                    console.log("[API] Callback to the endpoint sucess")
                },
                complete: function () {
                    window.location.replace("{% url 'pManagement:stockPackage' %}?page=" + (current_page))
                    //window.location.reload()
                }
            }) 
    
        }
    </script>
{% endblock %}