{% extends "vware/baseArmazem.html" %}
{% load static %}

{% block body_title %}
    <div class="text-primary">
        <h6><b><i class="fa fa-home text-secondary"></i><a href={% url 'main:main' %}><span
                class="text-secondary"> Home | </span></a> BP Dropin Supply</b></h6>
    </div>

    <style>
       .containerPrincipal {
            height: 835px;
            width: 100%;
            top: 11px;
            left: 0px;
            position: relative;
            border: 3px solid transparent;
        }

        div.dt-buttons {
            float: right;
        }
        .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}


input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 10px;
  }

  .switch input {
    display: none;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  label {
    display: inline-block;
    vertical-align: middle;
  }
    </style>
{% endblock %}


{% block body_content %}
    <div class="containerPrincipal">
        <div class="form-inline">
            <p class="mb-n5" id="countTotal"></p>
            <p class="mb-n5" style="margin-left: 4%; background-color: #e80b0bb6" id="countRed"></p>
            <p class="mb-n5" style="margin-left: 5%; background-color: #ffd900bc" id="countYellow"></p>
            <p class="mb-n5" style="margin-left: 5%; background-color: #e80b0bb6" id="countRedActualDay"></p>
            <p style="margin-left: 10%; text-align: center; font-size: 60px; margin-bottom: -25px"><b>BP DROPIN
                SUPPLY</b></p>
        </div>
        <table id="bpDropinSupply" class="display" style="width:100%">
            <thead style="margin-left: -9px">
            <tr>
                <th style="text-align: center">Event ID</th>
                <th style="text-align: center">Task ID</th>
                <th style="text-align: center">Wave ID</th>
                <th style="text-align: center">Task Type</th>
                <th style="text-align: center">From Part</th>
                <th style="text-align: center">From Storage Zone</th>
                <th style="text-align: center">To Location</th>
                <th style="text-align: center">Quantity Expected</th>
                <th style="text-align: center">Created Date</th>
                <th style="text-align: center">Created Time</th>
                <th style="text-align: center; display: none;">Timestamp</th>
            </tr>
            </thead>
            <tbody>
            {% for line in dadosQAD.all %}
                {% for areaA in areaA.all %}
                    {% if line.wtsk_from_stor_zone == areaA.storageZone %}
                        <tr>
                            <td style="text-align: center">{{ line.wtsk_event_id }}</td>
                            <td style="text-align: center">{{ line.wtsk_id }}</td>
                            <td style="text-align: center">{{ line.wtsk_wave_id }}</td>
                            <td style="text-align: center">{{ line.wtsk_task_type }}</td>
                            <td style="text-align: center">{{ line.wtsk_from_part }}</td>
                            <td style="text-align: center">{{ line.wtsk_from_stor_zone }}</td>
                            <td style="text-align: center">{{ line.wtsk_to_loc }}</td>
                            <td style="text-align: center">{{ line.wtsk_qty_exp }}</td>
                            <td style="text-align: center">{{ line.wtsk_create_date }}</td>
                            <td style="text-align: center">{{ line.wtsk_create_time }}</td>
                            <td style="text-align: center;display: none;">{{ line.timestamp }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
            </tr>
            </tfoot>
        </table>
        <form method="POST" enctype="multipart/form-data" action="{% url 'receiving:uploadTaskBrowse' %}">
            {% csrf_token %}
            <div class="form-inline">
                <div class="form-inline" style="bottom: 40px; margin-left: 10px; position: absolute">
                    <button type="submit" name="_updateDropin" id="_updateDropin" class="btn btn-primary">Update Info
                    </button>
                    {% for data in data.all %}
                        <h4 style="margin-left: 20px">Last update: {{ data }}</h4>
                        <input type="hidden" id="lastData" value="{{ data.data }}">
                        <input type="hidden" id="hourRed" value="{{ data.redHour }}">
                        <input type="hidden" id="hourYellow" value="{{ data.yellowHour }}">
                        <input type="hidden" id="lastUpdateRed" value="{{ data.lastUpdateRed }}">
                    {% endfor %}
                </div>
            </div>
        </form>
        <div style="bottom: 0px; margin-left: 25px; position: absolute">
            <h6><b><i class="fa fa-chevron-left text-secondary"></i><a href={% url 'receiving:mnfgSupply' %}><span
                    class="text-secondary"> Back </span></a></b></h6>
        </div>
    </div>



    
    <div class="modal fade"  id="modalEstatisticas" style="pointer-events: none; padding-left: 20%; display: block;" data-keyboard='false' 
    data-backdrop="static"  role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document"  >
   <div class="modal-content" style="width: 120%; height: 130%; margin-left: -30%;">
       <div class="modal-header">
           <h3 class="modal-title" id="myModalLabel"><b>Estatisticas:</b></h3>
       </div>   
       <div class="modal-body" style="margin-bottom: -12%;">
           <div class="containerPrincipal" style="width: 100%; height: 100%;margin-bottom: 2%;">
                <div style="margin-left: 20%;"> 
                    <div id="calendar" ></div>
                </div>
                 

                <div class="switch-container" style="margin-top:5% ;"  >
                    <label for="switch-label" class="switch-label">Media:</label>
                    <label class="switch">
                      <input type="checkbox" id="sliderEstatisticas">
                      <span class="slider round"></span>
                    </label>
                    <label for="switch-label" class="switch-label">Totais:</label>
                  </div>

                
                <div > 
                <table id="tabelaEstatisticas"  class="display" style="display:none;margin-left: 1%;text-align: center ; height: 100%; width: 98%; text-align: center;">
                    <thead>
                        <tr>
                            <th  style="font-size: 13px"></th>
                            <th  style="font-size: 13px">1 Turno</th>
                            <th  style="font-size: 13px">2 Turno</th>
                            <th  style="font-size: 13px">3 Turno</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                    <tfoot>
                    <tr>
                        <th  style="font-size: 13px"></th>
                        <th  style="font-size: 13px"></th>
                        <th  style="font-size: 13px"></th>
                        <th  style="font-size: 13px"></th>
                    </tr>
                    </tfoot>
                </table>
            </div>

                <div style="margin-top: 10px">
                    <p style="display: none;font-size: 20px"><strong>Para report diario</strong></p>
                    <textarea class="form-control mt-n3" name="reportDiario" id="reportFaSupply" rows="5" 
                              style="display: none;height: 178px;resize:none;background-color: floralwhite; text-align: center;font-family:sans-serif;font-size:1.5em;width: 50%">
                    </textarea>
                </div>
                
           </div>
           <div class="modal-footer" style = "margin-bottom: 10%" >
            <button type="button" id="closeModal" class="btn btn-primary" data-dismiss="modal">Sair</button>
            <button type="button" id="saveModal"  class="btn btn-primary"data-dismiss="modal">Ok</button>
        </div>
       
       </div>
    </div>
</div>
</div>


<button type="button" id="btnDadosEstatisticos"  class="btn btn-primary"data-dismiss="modal">Dados Estatisticos:</button>

<button id="refresh-btn" style="width: 20%; height: 20%;margin-left:40%;"  class="btn btn-primary">Geting refresh information... </button>
{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/confetti.css">
<!-- Vais ter de passar estes imports para local e fazer a alteracao nesta pag e na portaria, confirmar que tambem foi alterado no server -->
    <script>
 
 $(document).ready(function () {
    $("#refresh-btn").click(function(){console.log("Clicas-te no btn refresh")
            Swal.fire({
                    icon: 'error',
                    title: 'A popular a base de dados, pode demorar',
                    showConfirmButton: true
                    });
            $.ajax({
                type: "POST",
                url: '/receiving/adiciona_val_vermelhos_automatico_Supply/',
                data: {csrfmiddlewaretoken: "{{ csrf_token }}",
                success: function(response) {
                    console.log("RESPOSTA -->",response)
                    console.log("é para fazer refresh")
                    // temporizador 12s para dar tempo para popular as tabelas
                    setInterval(function () {
                location.reload()
                //window.location.reload()
                
            }, 14000);
                }, }
            })
        })

        var tabelaEstatisticas = $('#tabelaEstatisticas').DataTable({
                paging: false,
                searching: false,
                info: false,
                scrollY: 245,
                scrollX: 145,
                scrollCollapse: true,
                dom: 'frtipB',
                orderCellsTop: true,
                buttons: [
                ],
                 
            });


    var selectedDates = [];
    var today = new Date()
    var datePicker =  flatpickr("#calendar", {
    inline: true,
    dateFormat: "m-d-Y",
    mode: "range",
    defaultDate: [today, today],
    onClose: function(selectedDates, dateStr, instance, startDate,endDate) {
        
        selectedDates[0].toISOString().slice(0, 10)
        selectedDates[1].toISOString().slice(0, 10)
    }
    });
        $("#saveModal").click(function(){
            var textarea = document.getElementById("reportFaSupply");
            var text = textarea.value;
            var turno = "";
            const agora = new Date();
            const horasAtuais = agora.getHours() ;
            const minutosAtuais = agora.getMinutes() ;
            const datas = horasAtuais.toString() + " "+ minutosAtuais.toString()
            console.log("TESTE", datas )
                
            if(horasAtuais >= 8  && horasAtuais <= 16 && minutosAtuais <= 30 ){
                turno= "1"
            }else if(horasAtuais >= 16 && minutosAtuais > 30 && horasAtuais < 1  ){
                turno= "2"
            }else if(horasAtuais >= 1 && horasAtuais < 8  ){
                turno= "3"
            }
            
            /* if(text.length != 0){
            $.ajax({
                type: "POST",
                url: '/receiving/addCommentsToReport/',
                data: {csrfmiddlewaretoken: "{{ csrf_token }}", 
                report : text, table: "receiving_bpdropinsupplyreditems", turno:turno },
                success: function(response) {
                    alert("report foi guardado")

                },
            })
        } */

        })
         
        
        $("#sliderEstatisticas").click(function(){
            console.log("ENTROU btn1turno")
            var start_date = datePicker.selectedDates[0];
            var end_date = datePicker.selectedDates[1];
            console.log("DATAS-->", start_date, end_date)
            if( start_date == undefined || end_date == undefined){

                Swal.fire({
                    icon: 'error',
                    title: 'Nao foi selecionada nenhuma data.',
                    showConfirmButton: false
                    });
            }
            else{
                console.log("entrou no else")
            
            const checkbox = document.querySelector('input[type="checkbox"]'); 
            if (checkbox.checked) {
            $.ajax({
                type: "POST",
                url: '/receiving/mediaTurnosEcontadores/',
                data: {csrfmiddlewaretoken: "{{ csrf_token }}",
                start_date: start_date.toLocaleString(), end_date: end_date.toLocaleString(),},
                success: function(response) {
                    console.log("RESPONSE->",response)
                    tabelaEstatisticas.clear()
                    row = ``
                    row += `<tr>
                        <td style="font-size: 13px">FA </td>
                        <td title="${ response.contadorFAT1 }" > ${ response.contadorFAT1 }</td>
                        <td title="${ response.contadorFAT2 }" > ${ response.contadorFAT2 }</td>
                        <td title="${ response.contadorFAT3 }" > ${ response.contadorFAT3 }</td>
                    </tr>`;

                    console.log("row-->",row)
                    row += `<tr>
                        <td style="font-size: 13px">BP DROPIN</td>
                        <td title="${ response.contadorBpDropT1 }"> ${ response.contadorBpDropT1 }</td>
                        <td title="${ response.contadorBpDropT2 }"> ${ response.contadorBpDropT2 }</td>
                        <td title="${ response.contadorBpDropT3 }"> ${ response.contadorBpDropT3 }</td>
                    </tr>`;
                    
                    row += `<tr>
                        <td style="font-size: 13px">BPSMD</td>
                        <td title="${ response.contadorBpsmdT1 }"> ${ response.contadorBpsmdT1 }</td>
                        <td title="${ response.contadorBpsmdT2 }"> ${ response.contadorBpsmdT2 }</td>
                        <td title="${ response.contadorBpsmdT3 }"> ${ response.contadorBpsmdT3 }</td>
                    </tr>`;
                    
                    tabelaEstatisticas.rows.add($(row))
                    


                    tabelaEstatisticas.draw()
                    $("#tabelaEstatisticas").find("thead th:eq(1)").text("1 Turno");
                    $("#tabelaEstatisticas").find("thead th:eq(2)").text("2 Turno");
                    $("#tabelaEstatisticas").find("thead th:eq(3)").text("3 Turno");
                    $('#tabelaEstatisticas').show();
                },
           
            
                    error: function(response) {
                        console.log("Contador:", response.media);
                        alert("Querry feita sem sucesso")
                    }
            });
        }else{
            
            $.ajax({
                type: "POST",
                url: '/receiving/mediaTurnosEcontadores/',
                data: {csrfmiddlewaretoken: "{{ csrf_token }}",
                start_date: start_date.toLocaleString(), end_date: end_date.toLocaleString(),},
                success: function(response) {
                    console.log("RESPONSE->",response)
                    tabelaEstatisticas.clear()
                    row = ``
                    row += `<tr>
                        <td style="font-size: 13px">FA </td>
                        <td title="${ response.mediaFAT1 }" > ${ response.mediaFAT1 }</td>
                        <td title="${ response.mediaFAT2 }" > ${ response.mediaFAT2 }</td>
                        <td title="${ response.mediaFAT3 }" > ${ response.mediaFAT3 }</td>
                    </tr>`;

                    console.log("row-->",row)
                    row += `<tr>
                        <td style="font-size: 13px">BP DROPIN</td>
                        <td title="${ response.mediaBPDropinT1 }"> ${ response.mediaBPDropinT1 }</td>
                        <td title="${ response.mediaBPDropinT2 }"> ${ response.mediaBPDropinT2 }</td>
                        <td title="${ response.mediaBPDropinT3 }"> ${ response.mediaBPDropinT3 }</td>
                    </tr>`;
                    
                    row += `<tr>
                        <td style="font-size: 13px">BPSMD</td>
                        <td title="${ response.mediaBPSMDT1 }"> ${ response.mediaBPSMDT1 }</td>
                        <td title="${ response.mediaBPSMDT2 }"> ${ response.mediaBPSMDT2 }</td>
                        <td title="${ response.mediaBPSMDT3 }"> ${ response.mediaBPSMDT3 }</td>
                    </tr>`;
                    
                    tabelaEstatisticas.rows.add($(row))
                    


                    tabelaEstatisticas.draw()
                    $("#tabelaEstatisticas").find("thead th:eq(1)").text("1 Turno");
                    $("#tabelaEstatisticas").find("thead th:eq(2)").text("2 Turno");
                    $("#tabelaEstatisticas").find("thead th:eq(3)").text("3 Turno");
                    $('#tabelaEstatisticas').show();
                },
           
            
                    error: function(response) {
                        console.log("Media:", response.media);
                        alert("Querry feita sem sucesso")
                    }
            });

        }
    }
        });

        $.ajax({
                type: "POST",
                url: '/receiving/getErros/',
                data: {csrfmiddlewaretoken: "{{ csrf_token }}",
                pagina: "MNFG",},
                success: function(response) {
                    var table = $('#bpDropinSupply').DataTable(); // substitua myTable pelo ID da sua tabela
                    var data = table.row(0).data();
                    console.log("Primeira linha da tabela: ", data, data[10]);
                    //console.log("RESPONSE->",response)

                    console.log("RESPOSTA -->", response)

                    if (response.erro > 0){
                        let data = response.timestamp.timestamp;
                        let dataObj = new Date(data);
                        let horas = dataObj.getHours();
                        let minutos = dataObj.getMinutes();
                        let horaFormatada = horas.toString().padStart(2, "0") + ":" + minutos.toString().padStart(2, "0");
                        document.getElementById("refresh-btn").style.backgroundColor = "#FBA51A";
                        document.getElementById("refresh-btn").textContent = "Last Error " + horaFormatada;

                    }else{
                        document.getElementById("refresh-btn").style.backgroundColor = "";
                        document.getElementById("refresh-btn").textContent = "(10m)- Last Refresh " + data[10] ;
                        //document.getElementById("refresh-btn").style.display = "none";
                        

                    }
                },
           
            
                    error: function(response) {
                        //console.log("Contador:", response.media);
                        alert("Querry feita sem sucesso")
                    }
            });
        
        
        
        $("#btnDadosEstatisticos").click(function(){
            var today = new Date();
            
            $('#modalEstatisticas').modal('show');
            
            var data = new Date();
            var dia = data.getDate();
            var mes = data.getMonth() + 1;  
            var ano = data.getFullYear();
            var dataFormatada = mes + '/' + dia + '/' + ano + ', 00:00:00 AM';

            $.ajax({
                type: "POST",
                url: '/receiving/mediaTurnosEcontadores/',
                data: {csrfmiddlewaretoken: "{{ csrf_token }}",
                start_date: dataFormatada, end_date: dataFormatada,},
                success: function(response) {
                    console.log("RESPONSE->",response)
                    tabelaEstatisticas.clear()
                    row = ``
                    row += `<tr>
                        <td style="font-size: 13px">FA </td>
                        <td title="${ response.contadorFAT1 }" > ${ response.contadorFAT1 }</td>
                        <td title="${ response.contadorFAT2 }" > ${ response.contadorFAT2 }</td>
                        <td title="${ response.contadorFAT3 }" > ${ response.contadorFAT3 }</td>
                    </tr>`;

                    console.log("row-->",row)
                    row += `<tr>
                        <td style="font-size: 13px">BP DROPIN</td>
                        <td title="${ response.contadorBpDropT1 }"> ${ response.contadorBpDropT1 }</td>
                        <td title="${ response.contadorBpDropT2 }"> ${ response.contadorBpDropT2 }</td>
                        <td title="${ response.contadorBpDropT3 }"> ${ response.contadorBpDropT3 }</td>
                    </tr>`;
                    
                    row += `<tr>
                        <td style="font-size: 13px">BPSMD</td>
                        <td title="${ response.contadorBpsmdT1 }"> ${ response.contadorBpsmdT1 }</td>
                        <td title="${ response.contadorBpsmdT2 }"> ${ response.contadorBpsmdT2 }</td>
                        <td title="${ response.contadorBpsmdT3 }"> ${ response.contadorBpsmdT3 }</td>
                    </tr>`;
                    
                    tabelaEstatisticas.rows.add($(row))
                    


                    tabelaEstatisticas.draw()
                    
                    $("#tabelaEstatisticas").find("thead th:eq(1)").text("1 Turno");
                    $("#tabelaEstatisticas").find("thead th:eq(2)").text("2 Turno");
                    $("#tabelaEstatisticas").find("thead th:eq(3)").text("3 Turno");
                    $('#tabelaEstatisticas').show();
                },
           
            
                    error: function(response) {
                        console.log("Contador:", response.media);
                        alert("Querry feita sem sucesso")
                    }
            });
            // $("#tabelaEstatisticas").hide();
        })

            const lastData = document.getElementById('lastData').value
            const hourRed = document.getElementById('hourRed').value
            const hourYellow = document.getElementById('hourYellow').value
            const lastUpdateRed = document.getElementById('lastUpdateRed').value
            if (new Date().getHours() - new Date(lastData).getHours() >= lastUpdateRed) {
                $('h4').css({
                    'background-color': '#ff0000',
                    'color': 'white',
                });
            }

            setInterval(function () {
                location.reload()
                $.ajax({
                    type: 'POST',
                    url: '/receiving/uploadTaskBrowse/',
                    data: {
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                        _updateDropin: ''
                    },
                    success: function () {
                    }
                })
            }, 60000);

            var countRed = 0
            var countYellow = 0
            var total = 0

            $('#bpDropinSupply').DataTable({
                "info": false,
                "paging": false,
                "scrollCollapse": true,
                "scrollY": "600px",
                "scrollX": false,
                "order": [[8, "asc"], [9, "asc"]],
                dom: 'frtipB',
                buttons: [
                    'excel', 'pdf', 'print', 'copy'
                ],
                "columnDefs": [
                    {
                        targets: [8],
                        render: function (data, type, row) {
                            return data.substr(0, 10);
                        }
                    },
                    {
                        targets: [7],
                        render: function (data, type, row) {
                            return data.substr(0, data.length - 11);
                        }
                    }
                ],
                "createdRow": function (row, data, index, cells) {
                    total += 1
                    if (data[2] != "0") {

                        $('td', cells[2]).css({
                            'background-color': '#0000FF',
                        });
                        $(cells[2]).css({
                            'background-color': '#0000FF',
                            'color': 'white',

                        });
                    }

                    if (moment().startOf('day').diff(moment(data[8], 'YYYY-MM-DD'), 'days') == 0) {
                        if (moment().diff(moment(data[9], 'HH:mm:ss'), 'hours') == hourYellow && moment().diff(moment(data[9], 'HH:mm:ss'), 'hours') <= hourRed) {
                            countYellow += 1
                            $('td', cells[1]).css({
                                'background-color': '#FFD700',
                            });
                            $(cells[1]).css({
                                'background-color': '#FFD700',
                                'color': 'black',
                            });
                            $('td', cells[0]).css({
                                'background-color': '#FFD700',
                            });
                            $(cells[0]).css({
                                'background-color': '#FFD700',
                                'color': 'black',
                            });
                            $('td', cells[3]).css({
                                'background-color': '#FFD700',
                            });
                            $(cells[3]).css({
                                'background-color': '#FFD700',
                                'color': 'black',
                            });
                            $('td', cells[4]).css({
                                'background-color': '#FFD700',
                            });
                            $(cells[4]).css({
                                'background-color': '#FFD700',
                                'color': 'black',
                            });
                            $('td', cells[5]).css({
                                'background-color': '#FFD700',
                            });
                            $(cells[5]).css({
                                'background-color': '#FFD700',
                                'color': 'black',
                            });
                            $('td', cells[6]).css({
                                'background-color': '#FFD700',
                            });
                            $(cells[6]).css({
                                'background-color': '#FFD700',
                                'color': 'black',
                            });
                            $('td', cells[7]).css({
                                'background-color': '#FFD700',
                            });
                            $(cells[7]).css({
                                'background-color': '#FFD700',
                                'color': 'black',
                            });
                            $('td', cells[8]).css({
                                'background-color': '#FFD700',
                            });
                            $(cells[8]).css({
                                'background-color': '#FFD700',
                                'color': 'black',
                            });
                            $('td', cells[9]).css({
                                'background-color': '#FFD700',
                            });
                            $(cells[9]).css({
                                'background-color': '#FFD700',
                                'color': 'black',
                            });
                        }
                        if (moment().diff(moment(data[9], 'HH:mm:ss'), 'hours') >= hourRed) {
                            countRed += 1
                            /* $.ajax({
                                    type: 'POST',
                                    url: '/receiving/adiciona_val_para_mediaSupply/',
                                    data: {
                                        csrfmiddlewaretoken: "{{ csrf_token }}",
                                       event_id : data[0],
                                       task_id : data[1],
                                       wave_id : data[2],
                                       task_type : data[3],
                                       from_part : data[4],
                                       from_storage_zone : data[5],
                                       to_location : data[6],
                                       qty_expected : data[7],
                                       created_date : data[8],
                                       created_time : data[9],
                                       table : "receiving_bpdropinsupplyreditems"

                                    },
                                    success: function (response) {
                                        console.log("ADICIONANDO NOVO RED-->")
                                    }
                            }); */
                            $('td', cells[1]).css({
                                'background-color': '#ff0000',
                            });
                            $(cells[1]).css({
                                'background-color': '#ff0000',
                                'color': 'white',
                            });
                            $('td', cells[0]).css({
                                'background-color': '#ff0000',
                            });
                            $(cells[0]).css({
                                'background-color': '#ff0000',
                                'color': 'white',
                            });
                            $('td', cells[3]).css({
                                'background-color': '#ff0000',
                            });
                            $(cells[3]).css({
                                'background-color': '#ff0000',
                                'color': 'white',
                            });
                            $('td', cells[4]).css({
                                'background-color': '#ff0000',
                            });
                            $(cells[4]).css({
                                'background-color': '#ff0000',
                                'color': 'white',
                            });
                            $('td', cells[5]).css({
                                'background-color': '#ff0000',
                            });
                            $(cells[5]).css({
                                'background-color': '#ff0000',
                                'color': 'white',
                            });
                            $('td', cells[6]).css({
                                'background-color': '#ff0000',
                            });
                            $(cells[6]).css({
                                'background-color': '#ff0000',
                                'color': 'white',
                            });
                            $('td', cells[7]).css({
                                'background-color': '#ff0000',
                            });
                            $(cells[7]).css({
                                'background-color': '#ff0000',
                                'color': 'white',
                            });
                            $('td', cells[8]).css({
                                'background-color': '#ff0000',
                            });
                            $(cells[8]).css({
                                'background-color': '#ff0000',
                                'color': 'white',
                            });
                            $('td', cells[9]).css({
                                'background-color': '#ff0000',
                            });
                            $(cells[9]).css({
                                'background-color': '#ff0000',
                                'color': 'white',
                            });
                        }
                    } else {
                        countRed += 1
                        /* $.ajax({
                                    type: 'POST',
                                    url: '/receiving/adiciona_val_para_mediaSupply/',
                                    data: {
                                        csrfmiddlewaretoken: "{{ csrf_token }}",
                                       event_id : data[0],
                                       task_id : data[1],
                                       wave_id : data[2],
                                       task_type : data[3],
                                       from_part : data[4],
                                       from_storage_zone : data[5],
                                       to_location : data[6],
                                       qty_expected : data[7],
                                       created_date : data[8],
                                       created_time : data[9],
                                       table : "receiving_bpdropinsupplyreditems"

                                    },
                                    success: function (response) {
                                        console.log("RESPOSTA-->", response)
                                    }
                            }); */
                        $('td', cells[9]).css({
                            'background-color': '#ff0000',
                        });
                        $(cells[1]).css({
                            'background-color': '#ff0000',
                            'color': 'white',
                        });
                        $('td', cells[0]).css({
                            'background-color': '#ff0000',
                        });
                        $(cells[0]).css({
                            'background-color': '#ff0000',
                            'color': 'white',
                        });
                        $('td', cells[3]).css({
                            'background-color': '#ff0000',
                        });
                        $(cells[3]).css({
                            'background-color': '#ff0000',
                            'color': 'white',
                        });
                        $('td', cells[4]).css({
                            'background-color': '#ff0000',
                        });
                        $(cells[4]).css({
                            'background-color': '#ff0000',
                            'color': 'white',
                        });
                        $('td', cells[5]).css({
                            'background-color': '#ff0000',
                        });
                        $(cells[5]).css({
                            'background-color': '#ff0000',
                            'color': 'white',
                        });
                        $('td', cells[6]).css({
                            'background-color': '#ff0000',
                        });
                        $(cells[6]).css({
                            'background-color': '#ff0000',
                            'color': 'white',
                        });
                        $('td', cells[7]).css({
                            'background-color': '#ff0000',
                        });
                        $(cells[7]).css({
                            'background-color': '#ff0000',
                            'color': 'white',
                        });
                        $('td', cells[8]).css({
                            'background-color': '#ff0000',
                        });
                        $(cells[8]).css({
                            'background-color': '#ff0000',
                            'color': 'white',
                        });
                        $('td', cells[9]).css({
                            'background-color': '#ff0000',
                        });
                        $(cells[9]).css({
                            'background-color': '#ff0000',
                            'color': 'white',
                        });
                    }
                }
            });
            $('#countRed').text("Red's: " + countRed)
            $('#countYellow').text("Yellow's: " + countYellow)

            let agora = new Date();
        let horasAtuais = agora.getHours();
        let minutosAtuais = agora.getMinutes().toString().padStart(2, "0");
        let horasEminutos = parseInt(horasAtuais.toString() + minutosAtuais.toString());
        console.log("---> horasEminutos :", horasEminutos);
        if (horasEminutos <= 1630 && horasEminutos >= 800) {
            console.log("TURNO 1");
            $.ajax({
                type: 'POST',
                url: '/receiving/getVermelhosSupply/',
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    table : "receiving_bpdropinsupplyreditems"

                },
                success: function (response) {
                    console.log("RESPOSTA-->", response)
                    $('#countRedActualDay').text("1 turno Reds: " + response.contador)
                }
        });
            // Faca algo aqui se as horas e minutos forem maiores ou iguais a 16:30
        } else if (horasEminutos >= 100 && horasEminutos <= 800) {
            console.log("TURNO 3");
            $.ajax({
                type: 'POST',
                url: '/receiving/getVermelhosSupply/',
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",    
                     
                    table : "receiving_bpdropinsupplyreditems"

                },
                success: function (response) {
                    //RESPOSTA-->", response)
                    $('#countRedActualDay').text("3 turno Reds: " +  response.contador)
                }
        });
        } else {
            console.log("TURNO 2");
            $.ajax({
                type: 'POST',
                url: '/receiving/getVermelhosSupply/',
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    table : "receiving_bpdropinsupplyreditems"

                },
                success: function (response) {
                    //console.log("RESPOSTA-->", response)
                    $('#countRedActualDay').text("2 turno Reds: " +  response.contador)
                }
        });
        }
            $('#countTotal').text("Total:  " + total)
        });
    </script>
{% endblock %}