{% extends "vware/baseArmazem.html" %}
{% load static %}

{% block body_title %}
    <div class="text-primary">
        <h6><b><i class="fa fa-home text-secondary"></i><a href={% url 'main:main' %}><span
                class="text-secondary"> Home | </span></a> Configurations</b></h6>
    </div>

    <style>
        .containerPrincipal {
            height: 835px;
            width: 100%;
            top: 11px;
            left: 0px;
            position: relative;
            border: 3px solid transparent;
        }
    </style>
{% endblock %}


{% block body_content %}


    <div class="containerPrincipal">

        <div style="width: 30%; height: 70%; top: 0px; left: 0px; position: absolute; border: 3px solid transparent;">
            <table id="areaA" class="display" style="width:100%">
                <thead style="margin-left: -9px">
                <tr>
                    <th>BP Dropin Supply</th>
                </tr>
                </thead>
                <tbody>
                {% for storageZone in areaA.all %}
                    <tr>
                        <td>{{ storageZone.storageZone }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <th>
                    <button class="btn btn-outline-dark" style="height: 16px; width: 70px; margin-left: -18px"
                            data-toggle="modal"
                            data-target="#addAreaA" id="adicionarAreaA">Add new
                    </button>
                    </br>
                    <div id="removeButton">
                        <button class="btn btn-outline-dark mt-1"
                                style="height: 16px; width: 70px; margin-left: -18px"
                                data-toggle="modal" data-target="#removerAreaA" name="removeAreaA" id="removeAreaA">
                            Delete
                        </button>
                    </div>
                </th>
                </tfoot>
            </table>
        </div>
        <div style="width: 30%; height: 70%; top: 0px; left: 35%; position: absolute; border: 3px solid transparent;">
            <table id="areaB" class="display" style="width:100%">
                <thead style="margin-left: -9px">
                <tr>
                    <th>FA Supply</th>
                </tr>
                </thead>
                <tbody>
                {% for storageZone in areaB.all %}
                    <tr>
                        <td>{{ storageZone.storageZone }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <th>
                    <button class="btn btn-outline-dark" style="height: 16px; width: 70px; margin-left: -18px"
                            data-toggle="modal"
                            data-target="#addAreaB" id="adicionarAreaB">Add new
                    </button>
                    </br>
                    <div id="removeButton">
                        <button class="btn btn-outline-dark mt-1"
                                style="height: 16px; width: 70px; margin-left: -18px"
                                data-toggle="modal" data-target="#removerAreaB" name="removeAreaB"
                                id="removeAreaB">Delete
                        </button>
                    </div>
                </th>
                </tfoot>
            </table>
        </div>
        <div style="width: 30%; height: 70%; top: 0px; right: 0%; position: absolute; border: 3px solid transparent;">
            <table id="kardex" class="display" style="width:100%">
                <thead style="margin-left: -9px">
                <tr>
                    <th>BP SMD Supply</th>
                </tr>
                </thead>
                <tbody>
                {% for storageZone in kardex.all %}
                    <tr>
                        <td>{{ storageZone.storageZone }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <th>
                    <button class="btn btn-outline-dark" style="height: 16px; width: 70px; margin-left: -18px"
                            data-toggle="modal"
                            data-target="#addKardex" id="adicionarKardex">Add new
                    </button>
                    </br>redLine
                    <div id="removeButton">
                        <button class="btn btn-outline-dark mt-1"
                                style="height: 16px; width: 70px; margin-left: -18px"
                                data-toggle="modal" data-target="#removerKardex" name="removeKardex"
                                id="removeKardex">Delete
                        </button>
                    </div>
                </th>
                </tfoot>
            </table>
        </div>

   

        <form method="POST" enctype="multipart/form-data" action="{% url 'receiving:updateTimers' %}">
            {% csrf_token %}
            <div style="width: 30%; height: 25%; top: 70%; left: 35%; position: absolute; border: 3px solid transparent;">
                <table id="timer" class="display" style="width:100%">
                    <thead style="margin-left: -9px">
                    <tr>
                        <th>Timers (hours)</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data in data.all %}
                        <tr>
                            <td>Red line in Table:</td>
                            <td><input type="number" id="redLine" name="redLine" value="{{ data.redHour }}"></td>
                        </tr>
                        <tr>
                            <td>Yellow line in Table:</td>
                            <td><input type="number" id="yellowLine" name="yellowLine" value="{{ data.yellowHour }}"></td>
                        </tr>
                        <tr>
                            <td>Red last Update Time:</td>
                            <td><input type="number" id="redTime" name="redTime" value="{{ data.lastUpdateRed }}"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <th>
                        <button type="submit" class="btn btn-outline-dark" style="margin-left: -18px"
                                id="updateTimer">Update timers
                        </button>
                        </br>
                    </th>
                    </tfoot>
                </table>
            </div>
        </form>
    </div>
    <div style="bottom: 0px; margin-left: 25px; position: absolute">
        <h6><b><i class="fa fa-chevron-left text-secondary"></i><a href={% url 'receiving:mnfgSupply' %}><span
                class="text-secondary"> Back </span></a></b></h6>
    </div>

    <form method="POST" class="form" action="{% url 'receiving:createAreaA' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal fade" id="addAreaA" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Insert storage zone - BP Dropin Supply</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <h6><b>Insert storage zone</b></h6>
                        <input type="text" name="newAreaA" id="newAreaA"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form method="POST" class="form" action="{% url 'receiving:deleteAreaA' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal fade" id="removerAreaA" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Delete storage zone - BP Dropin Supply</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <p id="infoAreaA"></p>
                        <input type="hidden" name="nomeAreaA" id="nomeAreaA" value="{{ nomeAreaA }}"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <form method="POST" class="form" action="{% url 'receiving:createAreaB' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal fade" id="addAreaB" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Insert storage zone - FA Supply</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <h6><b>Insert storage zone</b></h6>
                        <input style="width: 440px" type="text" name="newAreaB" id="newAreaB"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <form method="POST" class="form" action="{% url 'receiving:deleteAreaB' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal fade" id="removerAreaB" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Delete storage zone - FA Supply</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <p id="infoAreaB"></p>
                        <input type="hidden" name="nomeAreaB" id="nomeAreaB" value="{{ nomeAreaB }}"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form method="POST" class="form" action="{% url 'receiving:createKardex' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal fade" id="addKardex" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Insert storage zone - BP SMD Supply</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <h6><b>Insert storage zone</b></h6>
                        <input style="width: 440px" type="text" name="newKardex" id="newKardex"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <form method="POST" class="form" action="{% url 'receiving:deleteKardex' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal fade" id="removerKardex" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Delete storage zone - BP SMD Supply</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <p id="infoKardex"></p>
                        <input type="hidden" name="nomeKardex" id="nomeKardex" value="{{ nomeKardex }}"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </form>



    <div class="modal fade"  id="modalReportsMNFG" style="pointer-events: none; padding-left: 20%; display: block;" data-keyboard='false' 
    data-backdrop="static"  role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document"  >
   <div class="modal-content" style="width: 120%; height: 135%; margin-left: -30%;">
       <div class="modal-header">
           <h3 class="modal-title" id="myModalLabel"><b>REPORT MNFG:</b></h3>
       </div>   
       <div class="modal-body" style="margin-bottom: -10%;">
           <div class="containerPrincipal" style="width: 20%; height: 10%;margin-bottom: 2%;">
                <div style="margin-left: 100%;margin-top: -25%"> 
                    <div id="calendar" ></div>
                </div>
                

                
           </div>
           <div class="modal-footer" style = "margin-bottom: 10%" >
            <button type="button" id="closeModal" class="btn btn-primary" data-dismiss="modal">Sair</button>
            <button type="button" id="saveModal"  class="btn btn-primary"data-dismiss="modal">Ok</button>
        </div>
       
       </div>
    </div>
</div>
</div>

<button type="button" id="btnReport"  class="btn btn-primary" style="margin-left: 5%; margin-bottom: 4%;">Report MNFG:</button>
<!-- <button id="sendReport-btn" style="width: 20%; height: 20%;margin-left:75%;margin-top: -20%"  class="btn btn-primary">Report MNFG</button> -->


{% endblock %}

{% block javascript %}
</script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/confetti.css">
    <script>
        $(document).ready(function () {
            $("#btnReport").click(function(){
                var today = new Date();
                
                $('#modalReportsMNFG').modal('show');
            })
        
        var selectedDates = [];
        var today = new Date()
        var datePicker =  flatpickr("#calendar", {
            inline: true,
            dateFormat: "m/d/Y",
            mode: "single",
            defaultDate: [today, today],
        });

        $("#saveModal").click(function(){
            var start_date = datePicker.selectedDates[0];
            const options = { day: 'numeric', month: 'numeric', year: 'numeric' };
            const formattedDate = new Intl.DateTimeFormat('pt-BR', options).format(start_date);
            console.log("DATA FORMATADA-->",formattedDate, start_date); 
            $.ajax({
                    type: "POST",
                    url: '/receiving/sendRelatorioDiarioSupply/',
                    data: {csrfmiddlewaretoken: "{{ csrf_token }}", 
                    data_report : formattedDate , start_date : start_date},
                    success: function(response) {
                        console.log("RESPOSTA.--)", response)
                        if (response.message === "Excel"){
                        alert("report foi criado em excel")
                        var element = document.createElement('a');
                            //Ainda por fazer
                            element.setAttribute('href', '/media/receiving/MNFG/workbookReportMNFG.xls');
                            element.setAttribute('download', 'workbookReportMNFG.xls');

                            element.style.display = 'none';
                            document.body.appendChild(element);

                            element.click();

                            document.body.removeChild(element);
                        }else{
                            alert("report foi criado seguiu para email")
                        }
                    },
                })
        })
        $("#sendReport-btn").click(function(){
                console.log("Clicas-te no btn refresh")
            Swal.fire({
                    icon: 'error',
                    title: 'A enviar o report diario dos contadores MNFG',
                    showConfirmButton: true
                    });
            $.ajax({
                type: "POST",
                url: '/receiving/sendRelatorioDiarioSupply/',
                data: {csrfmiddlewaretoken: "{{ csrf_token }}",
                success: function(response) {
                    console.log("RESPOSTA -->",response)
                    console.log("e para fazer refresh")
                    // temporizador 12s para dar tempo para popular as tabelas
                //location.reload()
                //window.location.reload()
                
                }, }
            })
        })


        var tableAreaA = $('#areaA').DataTable({
            "searching": false,
            "info": false,
            "paging": false,
            "ordering": false,
            "scrollCollapse": true,
            "scrollY": "420px",
            "select": {
                style: 'os',
                items: 'cell'
            },
        });

        $('#areaA tbody').on('click', 'tr', function () {
                var storageZone = tableAreaA.row($(this)).data();
                var modalInfo = "Want to delete " + storageZone + "?";
                $('#infoAreaA').html(modalInfo);
                $('#nomeAreaA').val(storageZone);
                $('#removeButton').on('click', 'button', function () {
                });
            });
        });

        $(document).ready(function () {
            var tableAreaB = $('#areaB').DataTable({
                "searching": false,
                "info": false,
                "paging": false,
                "ordering": false,
                "scrollCollapse": true,
                "scrollY": "420px",
                "select": {
                    style: 'os',
                    items: 'cell'
                },
            });

            $('#areaB tbody').on('click', 'tr', function () {
                var storageZone = tableAreaB.row($(this)).data();
                var modalInfo = "Want to delete " + storageZone + "?";
                $('#infoAreaB').html(modalInfo);
                $('#nomeAreaB').val(storageZone);
                $('#removeButton').on('click', 'button', function () {
                });
            });
        });

        $(document).ready(function () {
            var tableKardex = $('#kardex').DataTable({
                "searching": false,
                "info": false,
                "paging": false,
                "ordering": false,
                "scrollCollapse": true,
                "scrollY": "420px",
                "select": {
                    style: 'os',
                    items: 'cell'
                },
            });
            $('#kardex tbody').on('click', 'tr', function () {
                var storageZone = tableKardex.row($(this)).data();
                var modalInfo = "Want to delete " + storageZone + "?";
                $('#infoKardex').html(modalInfo);
                $('#nomeKardex').val(storageZone);
                $('#removeButton').on('click', 'button', function () {
                });
            });
        });

        $(document).ready(function () {
            var tableTimer = $('#timer').DataTable({
                "searching": false,
                "info": false,
                "paging": false,
                "ordering": false,
                "scrollCollapse": true,
                "scrollY": "420px",
            });
        });

    </script>
{% endblock %}