{% extends "vware/baseArmazem.html" %}
{% load static %}

{% block body_title %}

    <div class="text-primary">
        <h6><b><i class="fa fa-home text-secondary"></i><a href={% url 'main:main' %}><span
                class="text-secondary"> Home | </span></a> Shippers Tracking</b></h6>
    </div>
    <style>
    </style>
{% endblock %}


{% block body_content %}
<div class="containerPrincipal">
    <table id="qadShipersTable"  class="display" style="margin-left: 0%; height: 150%;  width: 100%; text-align: center">
        <thead>
        <tr>
            <th  style="font-size: 13px">ID</th>
            <th  style="font-size: 13px">Ship Date</th>
            <th  style="font-size: 13px">Ship Time</th>
            <th  style="font-size: 13px">City</th>
            <th  style="font-size: 13px">Country</th>
            <th  style="font-size: 13px">Carrier</th>
            <th  style="font-size: 13px">FOB</th>
            <th  style="font-size: 13px">Mode of Transport</th>
            <th  style="font-size: 13px">Vehicle ID</th>
            <th  style="font-size: 13px">Total Master packs</th>
            <th  style="font-size: 13px">Confirmed</th>
            <th style="display: none"></th>
        </tr>
        </thead>
        <tbody>
            {% for element in shippers_tracking %}
            <tr>
                <td>{{ element.abs_id }}</td>
                <td>{{ element.ship_date }}</td>
                <td>{{ element.ship_time }}</td>
                <td>{{ element.city }}</td>
                <td>{{ element.country }}</td>
                <td>{{ element.carrier }}</td>
                <td>{{ element.fob }}</td>
                <td>{{ element.mode_of_transport }}</td>
                <td>{{ element.vehicle_id }}</td>
                <td>{{ element.total_master_packs }}</td>
                <td>{{ element.confirmed }}</td>
                <th style="display: none"></th>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th  style="font-size: 13px"></th>
            <th  style="font-size: 13px"></th>
            <th  style="font-size: 13px"></th>
            <th  style="font-size: 13px"></th>
            <th  style="font-size: 13px"></th>
            <th  style="font-size: 13px"></th>
            <th  style="font-size: 13px"></th>
            <th  style="font-size: 13px"></th>
            <th  style="font-size: 13px"></th>
            <th  style="font-size: 13px"></th>
            <th  style="font-size: 13px"></th>
            <th style="display: none"></th>
        </tr>
        </tfoot>
    </table>

</div>
     



{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            var path = $("#pathDefault").val();
            $("#textPath").val(path);
        });

        var table = $('#qadShipersTable').DataTable({
            paging: false,
            searching: false,
            info: false,
            scrollY: 720,
            scrollCollapse: true,
        });



        $.ajax({
                type: 'GET',
                url: '/shippers/json_gateway',
                error: () => alert("Error ao criar as tableas #gatewayHistory e #pnExpendableTable"),
                success: (req) => {
                    /* Popular a table com dados de /json se bater com alguma matricula mete a linha verde*/
                    console.log(`[#qadShipersTable] a carregar ${req.length} dados para a tabela`)
                    const t1 = new Date();

                    if("{{ readOnly }}" === "True"){
                        for (let value of req) {
                            let row = `<tr><td title="${value.dataHoraChegada}">${value.dataHoraChegada}</td>
                                <td title="${value.condutor}">${value.condutor}</td>
                                <td title="${value.ident}">${value.ident}</td>
                                <td title="${value.contacto}">${value.contacto}</td>
                                <td title="${value.empresa}">${value.empresa}</td>
                                <td title="${value.primeiraMatricula}">${value.primeiraMatricula}</td>
                                <td title="${value.segundaMatricula}">${value.segundaMatricula}</td>
                                <td title="${value.cargaDescarga}">${value.cargaDescarga}</td>
                                <td title="${value.doca}">${value.doca}</td>
                                <td title="${value.destinoCarga}">${value.destinoCarga}</td>
                                <td title="${value.tipoViatura}">${value.tipoViatura}</td>
                                <td title="${value.dataHoraEntrada}">${value.dataHoraEntrada}</td>`;
                            if (value.abandono === 'false') {
                                row += `<td style="text-align: center; width: 20px"><input type="checkbox" id="abandonado"
                                title="Abandonado"name="abandonado"checked disabled></td>`
                            } else {
                                row += `<td style="text-align: center; width: 100px"><input type="checkbox" id="abandonado"
                                    name="abandonado" title="Abandonado" disabled></td>`
                            }
                            row += ` <td title="${value.comentEntrada}">${value.comentEntrada}</td>
                            <td title="${value.dataHoraSaida}">${value.dataHoraSaida}</td>
                            <td title="${value.comentSaida}">${value.comentSaida}</td>
                            <td style="display: none"  id="idRow" value="${value.id}">${value.id}</td>`
                            row += "</tr>"
                            table.rows.add($(row))
                        }        
                    }
                }
            })
    </script>
{% endblock %}