{% extends "vware/baseArmazem.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block body_title %}
    <div class="text-primary">
        <h6><b><i class="fa fa-home text-secondary"></i><a href={% url 'main:main' %}><span
                class="text-secondary"> Home | </span></a> Operations</b></h6>
    </div>
    <style>
        .containerPrincipal {
            height: 875px;
            width: 100%;
            top: 11px;
            left: 0px;
            position: relative;
            border: 3px solid transparent;
        }

        .containerCima {
            height: 300px;
            width: 100%;
            top: 0px;
            left: 0px;
            position: absolute;
            border: 3px solid transparent;
        }

        .containerMeio {
            height: 200px;
            width: 60%;
            top: 350px;
            left: 20%;
            position: absolute;
            border: 3px solid transparent;
        }

        .containerBaixo {
            height: 240px;
            width: 100%;
            top: 630px;
            right: 0%;
            position: absolute;
            border: 3px solid transparent;
        }
    </style>
{% endblock %}

{% block body_content %}
    <div class="containerPrincipal">
        <div class="containerCima">
            <p style="text-align: center; font-size: x-large; margin-bottom: -1px; background-color: orange; color: black">
                <b>SHIPPING</b></p>
            <table id="tabelaShippingOperation" class="display"
                   style="width:100%; background-color: rgba(123,255,243,0.13)">
                <thead>
                <tr>
                    <th></th>
                    <th class="text-center">VER SHIPPERS_ IMPRESSAO PICKLIST E CHECKLIST</th>
                    <th class="text-center">REQUISIÇÃO MATERIAL MECALUX</th>
                    <th class="text-center">ASSOCIAÇÃO AO SHIPPER</th>
                    <th class="text-center">OEM_ PALETIZAÇÃO E LABELLING</th>
                    <th class="text-center">PROCESSO DE FATURAÇÃO</th>
                    <th class="text-center">VALIDAÇÃO CHECKLIST</th>
                    <th class="text-center">CARREGAR VEÍCULOS</th>
                    <th class="text-center">CARIMBAR_ASSINAR_ARQUIVAR DOCUMENTOS</th>
                    <th class="text-center">CHECKLIST</th>
                    <th class="text-center">OTHER OPERATIONS</th>
                    <th class="text-center">REQUEST FOR SHIPPER</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="text-center"><b>QPS</b></div>
                    </td>
                    <td id="1" style="text-align: center">
                        <a class="fas fa-list-alt fa-2x" data-toggle="modal" data-target="#oneShipping"></a>
                    </td>
                    <td id="2" style="text-align: center">
                        <a class="fas fa-list-alt fa-2x" data-toggle="modal" data-target="#twoShipping"></a>
                    </td>
                    <td id="3" style="text-align: center">
                        <a class="fas fa-list-alt fa-2x" data-toggle="modal" data-target="#threeShipping"></a>
                    </td>
                    <td id="4" style="text-align: center">
                        <a class="fas fa-list-alt fa-2x" data-toggle="modal" data-target="#fourShipping"></a>
                    </td>
                    <td id="5" style="text-align: center">
                        <a class="fas fa-list-alt fa-2x" data-toggle="modal" data-target="#fiveShipping"></a>
                    </td>
                    <td id="6" style="text-align: center">
                        <a class="fas fa-list-alt fa-2x" data-toggle="modal" data-target="#sixShipping"></a>
                    </td>
                    <td id="7" style="text-align: center">
                        <a class="fas fa-list-alt fa-2x" data-toggle="modal" data-target="#sevenShipping"></a>
                    </td>
                    <td id="8" style="text-align: center">
                        <a class="fas fa-list-alt fa-2x" data-toggle="modal" data-target="#eightShipping"></a>
                    </td>
                    <td id="checklist" style="text-align: center">
                        <a class="fas fa-list-alt fa-2x" data-toggle="modal" data-target="#checklistShipping"></a>
                    </td>
                    <td id="others" style="text-align: center">
                        <a class="fas fa-list-alt fa-2x" data-toggle="modal" data-target="#otherShipping"></a>
                    </td>
                    <td id="operation" style="text-align: center">
                        <a class="fas fa-list-alt fa-2x" data-toggle="modal" data-target="#operationsShipping"></a>
                    </td>
                    <td>
                        <div class="fas fa-edit" id="configurations" name="configurations"></div>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="modal fade" id="oneShipping" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Shipping Operations</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            {% for row in shippingOperation.all %}
                                {% if row.one %}
                                    <a href="{{ row.one.url }}"
                                       target="_blank" class="link-primary"><b>{{ row.one.url|slice:'20:' }}
                                    </b></a></br></br>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" value="close" data-dismiss="modal">close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="twoShipping" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Shipping Operations</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            {% for row in shippingOperation.all %}
                                {% if row.two %}
                                    <a href="{{ row.two.url }}"
                                       target="_blank" class="link-primary"><b>{{ row.two.url|slice:'20:' }}
                                    </b></a></br></br>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" value="close" data-dismiss="modal">close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="threeShipping" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Shipping Operations</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            {% for row in shippingOperation.all %}
                                {% if row.three %}
                                    <a href="{{ row.three.url }}"
                                       target="_blank" class="link-primary"><b>{{ row.three.url|slice:'22:' }}
                                    </b></a></br></br>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" value="close" data-dismiss="modal">close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="fourShipping" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Shipping Operations</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            {% for row in shippingOperation.all %}
                                {% if row.four %}
                                    <a href="{{ row.four.url }}"
                                       target="_blank" class="link-primary"><b>{{ row.four.url|slice:'21:' }}
                                    </b></a></br></br>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" value="close" data-dismiss="modal">close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="fiveShipping" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Shipping Operations</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            {% for row in shippingOperation.all %}
                                {% if row.five %}
                                    <a href="{{ row.five.url }}"
                                       target="_blank" class="link-primary"><b>{{ row.five.url|slice:'21:' }}
                                    </b></a></br></br>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" value="close" data-dismiss="modal">close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="sixShipping" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Shipping Operations</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            {% for row in shippingOperation.all %}
                                {% if row.six %}
                                    <a href="{{ row.six.url }}"
                                       target="_blank" class="link-primary"><b>{{ row.six.url|slice:'20:' }}
                                    </b></a></br></br>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" value="close" data-dismiss="modal">close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="sevenShipping" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Shipping Operations</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            {% for row in shippingOperation.all %}
                                {% if row.seven %}
                                    <a href="{{ row.seven.url }}"
                                       target="_blank" class="link-primary"><b>{{ row.seven.url|slice:'22:' }}
                                    </b></a></br></br>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" value="close" data-dismiss="modal">close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="eightShipping" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Shipping Operations</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            {% for row in shippingOperation.all %}
                                {% if row.eight %}
                                    <a href="{{ row.eight.url }}"
                                       target="_blank" class="link-primary"><b>{{ row.eight.url|slice:'22:' }}
                                    </b></a></br></br>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" value="close" data-dismiss="modal">close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="checklistShipping" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Shipping Operations</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            {% for row in shippingOperation.all %}
                                {% if row.checklist %}
                                    <a href="{{ row.checklist.url }}"
                                       target="_blank" class="link-primary"><b>{{ row.checklist.url|slice:'26:' }}
                                    </b></a></br></br>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" value="close" data-dismiss="modal">close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="otherShipping" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Shipping Operations</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            {% for row in shippingOperation.all %}
                                {% if row.others %}
                                    <a href="{{ row.others.url }}"
                                       target="_blank" class="link-primary"><b>{{ row.others.url|slice:'23:' }}
                                    </b></a></br></br>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" value="close" data-dismiss="modal">close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="operationsShipping" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Shipping Operations</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            {% for row in shippingOperation.all %}
                                {% if row.requestShippers %}
                                    <a href="{{ row.requestShippers.url }}"
                                       target="_blank" class="link-primary"><b>{{ row.requestShippers.url|slice:'32:' }}
                                    </b></a></br></br>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" value="close" data-dismiss="modal">close</button>
                        </div>
                    </div>
                </div>
            </div>

            <form method="POST" action="{% url 'vware:configurationShippingOperation' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal fade" id="configurationsModalShipping" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel" style="margin-left: 40%">Shipping
                                    Operations</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">

                                <div class="rounded mx-auto form p-4"
                                     style="background-image: url('{% static "fundo.png" %}'); opacity: 85%">
                                    <div class="row">
                                        <div class="column">
                                            <p>VER SHIPPERS_ IMPRESSAO PICKLIST E CHECKLIST </p>
                                            <p>REQUISIÇÃO MATERIAL MECALUX </p>
                                            <p>ASSOCIAÇÃO AO SHIPPER </p>
                                            <p>OEM_ PALETIZAÇÃO E LABELLING </p>
                                            <p>PROCESSO DE FATURAÇÃO </p>
                                            <p>VALIDAÇÃO CHECKLIST </p>
                                            <p>CARREGAR VEÍCULOS </p>
                                            <p>CARIMBAR_ASSINAR_ARQUIVAR DOCUMENTOS </p>
                                            <p>CHECKLIST </p>
                                            <p>OTHER OPERATIONS </p>
                                            <p>REQUEST FOR SHIPPER </p>
                                        </div>
                                        <div class="column" style="margin-left: 50px">
                                            <input type="file" id="one" name="one" multiple></br>
                                            <input type="file" id="two" name="two" multiple
                                                   style="margin-top: 9px"></br>
                                            <input type="file" id="three" name="three" multiple
                                                   style="margin-top: 9px"></br>
                                            <input type="file" id="four" name="four" multiple
                                                   style="margin-top: 9px"></br>
                                            <input type="file" id="five" name="five" multiple
                                                   style="margin-top: 9px"></br>
                                            <input type="file" id="six" name="six" multiple
                                                   style="margin-top: 9px"></br>
                                            <input type="file" id="seven" name="seven" multiple
                                                   style="margin-top: 9px"></br>
                                            <input type="file" id="eight" name="eight" multiple
                                                   style="margin-top: 9px"></br>
                                            <input type="file" id="checklist" name="checklist" multiple
                                                   style="margin-top: 9px"></br>
                                            <input type="file" id="other" name="other" multiple
                                                   style="margin-top: 9px"></br>
                                            <input type="file" id="requestShipper" name="requestShipper" multiple
                                                   style="margin-top: 9px"></br>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="submit">Submit</button>
                                <button type="button" value="close" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <div class="containerMeio">
            <p style="text-align: center; width: 100%; font-size: x-large; margin-bottom: -20px; background-color: orange; color: black">
                <b>CROSSDOCKING</b></p>
            <table id="tabelaCrossdocking" class="display"
                   style="width:100%;">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th class="text-center">QPS</th>
                    <td class="text-center">
                        {% for elem in crossdocking.all %}
                            {% if elem.ford %}
                                <a href="{{ elem.ford.url }}">FORD</a>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td class="text-center">
                        {% for elem in crossdocking.all %}
                            {% if elem.psa %}
                                <a href="{{ elem.psa.url }}">PSA</a>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td class="text-center">
                        {% for elem in crossdocking.all %}
                            {% if elem.scania %}
                                <a href="{{ elem.scania.url }}">SCANIA</a>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td class="text-center">
                        {% for elem in crossdocking.all %}
                            {% if elem.volvo %}
                                <a href="{{ elem.volvo.url }}">VOLVO</a>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td id="configurationsCrossdocking" name="configurationsCrossdocking">
                        <div class="fas fa-edit"></div>
                    </td>
                </tr>
                </tbody>
            </table>

            <form method="POST" action="{% url 'vware:configurationCrossdockingOperation' %}"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal fade" id="configurationsModalCrossdocking" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel" style="margin-left: 35%">CROSSDOCKING</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <div class="rounded col-md-10 mx-auto form p-4"
                                     style="background-image: url('{% static "fundo.png" %}'); opacity: 85%">
                                    <div class="row">
                                        <div class="column">
                                            <p>FORD </p>
                                            <p>PSA </p>
                                            <p>SCANIA </p>
                                            <p>VOLVO </p>
                                        </div>
                                        <div class="column" style="margin-left: 50px">
                                            <input type="file" id="fordCrossdockingFile"
                                                   name="fordCrossdockingFile"></br>
                                            <input type="file" id="psaCrossdockingFile" name="psaCrossdockingFile"
                                                   style="margin-top: 9px"></br>
                                            <input type="file" id="scaniaCrossdockingFile" name="scaniaCrossdockingFile"
                                                   style="margin-top: 9px"></br>
                                            <input type="file" id="volvoCrossdockingFile" name="volvoCrossdockingFile"
                                                   style="margin-top: 9px"></br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit">Submit</button>
                                <button type="button" value="close" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <div class="containerBaixo">
            <p style="text-align: center; font-size: x-large; margin-bottom: -1px; background-color: orange;"><b>RECEIVING</b>
            </p>
            <table id="tabelaReceivingOperation" class="display"
                   style="width:100%; background-color: rgba(123,255,243,0.13)">
                <thead>
                <tr>
                    <th></th>
                    <th class="text-center">RECEÇÃO ADMINISTRATIVA</th>
                    <th class="text-center">DESCARGA VEÍCULO</th>
                    <th class="text-center">RECEÇÃO FÍSICA</th>
                    <th class="text-center">ARRUMAÇÃO MATERIAL</th>
                    <th class="text-center">PICKING</th>
                    <th class="text-center">INSPEÇÃO MATERIAL</th>
                    <th class="text-center">LINEFEEDER EMERGÊNCIA</th>
                    <th class="text-center">SUBMISSÃO PURGA</th>
                    <th class="text-center">OTHER OPERATIONS</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="text-center"><b>QPS</b></div>
                    </td>
                    <td id="1" style="text-align: center">
                        <a class="fas fa-list-alt fa-2x" data-toggle="modal" data-target="#oneReceiving"></a>
                    </td>
                    <td id="2" style="text-align: center">
                        <a class="fas fa-list-alt fa-2x" data-toggle="modal" data-target="#twoReceiving"></a>
                    </td>
                    <td id="3" style="text-align: center">
                        <a class="fas fa-list-alt fa-2x" data-toggle="modal" data-target="#threeReceiving"></a>
                    </td>
                    <td id="4" style="text-align: center">
                        <a class="fas fa-list-alt fa-2x" data-toggle="modal" data-target="#fourReceiving"></a>
                    </td>
                    <td id="5" style="text-align: center">
                        <a class="fas fa-list-alt fa-2x" data-toggle="modal" data-target="#fiveReceiving"></a>
                    </td>
                    <td id="6" style="text-align: center">
                        <a class="fas fa-list-alt fa-2x" data-toggle="modal" data-target="#sixReceiving"></a>
                    </td>
                    <td id="7" style="text-align: center">
                        <a class="fas fa-list-alt fa-2x" data-toggle="modal" data-target="#sevenReceiving"></a>
                    </td>
                    <td id="8" style="text-align: center">
                        <a class="fas fa-list-alt fa-2x" data-toggle="modal" data-target="#eightReceiving"></a>
                    </td>
                    <td id="8" style="text-align: center">
                        <a class="fas fa-list-alt fa-2x" data-toggle="modal" data-target="#nineReceiving"></a>
                    </td>
                    <td>
                        <div class="fas fa-edit" id="configurations" name="configurations"></div>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="modal fade" id="oneReceiving" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Receiving Operations</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            {% for row in receivingOperation.all %}
                                {% if row.one %}
                                    <a href="{{ row.one.url }}"
                                       target="_blank" class="link-primary"><b>{{ row.one.url|slice:'21:' }}
                                    </b></a></br></br>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" value="close" data-dismiss="modal">close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="twoReceiving" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Receiving Operations</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            {% for row in receivingOperation.all %}
                                {% if row.two %}
                                    <a href="{{ row.two.url }}"
                                       target="_blank" class="link-primary"><b>{{ row.two.url|slice:'21:' }}
                                    </b></a></br></br>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" value="close" data-dismiss="modal">close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="threeReceiving" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Receiving Operations</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            {% for row in receivingOperation.all %}
                                {% if row.three %}
                                    <a href="{{ row.three.url }}"
                                       target="_blank" class="link-primary"><b>{{ row.three.url|slice:'23:' }}
                                    </b></a></br></br>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" value="close" data-dismiss="modal">close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="fourReceiving" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Receiving Operations</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            {% for row in receivingOperation.all %}
                                {% if row.four %}
                                    <a href="{{ row.four.url }}"
                                       target="_blank" class="link-primary"><b>{{ row.four.url|slice:'22:' }}
                                    </b></a></br></br>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" value="close" data-dismiss="modal">close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="fiveReceiving" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Receiving Operations</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            {% for row in receivingOperation.all %}
                                {% if row.five %}
                                    <a href="{{ row.five.url }}"
                                       target="_blank" class="link-primary"><b>{{ row.five.url|slice:'22:' }}
                                    </b></a></br></br>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" value="close" data-dismiss="modal">close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="sixReceiving" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Receiving Operations</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            {% for row in receivingOperation.all %}
                                {% if row.six %}
                                    <a href="{{ row.six.url }}"
                                       target="_blank" class="link-primary"><b>{{ row.six.url|slice:'21:' }}
                                    </b></a></br></br>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" value="close" data-dismiss="modal">close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="sevenReceiving" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Receiving Operations</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            {% for row in receivingOperation.all %}
                                {% if row.seven %}
                                    <a href="{{ row.seven.url }}"
                                       target="_blank" class="link-primary"><b>{{ row.seven.url|slice:'23:' }}
                                    </b></a></br></br>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" value="close" data-dismiss="modal">close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="eightReceiving" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Receiving Operations</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            {% for row in receivingOperation.all %}
                                {% if row.eight %}
                                    <a href="{{ row.eight.url }}"
                                       target="_blank" class="link-primary"><b>{{ row.eight.url|slice:'23:' }}
                                    </b></a></br></br>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" value="close" data-dismiss="modal">close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="nineReceiving" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Receiving Operations</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            {% for row in receivingOperation.all %}
                                {% if row.nine %}
                                    <a href="{{ row.nine.url }}"
                                       target="_blank" class="link-primary"><b>{{ row.nine.url|slice:'22:' }}
                                    </b></a></br></br>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" value="close" data-dismiss="modal">close</button>
                        </div>
                    </div>
                </div>
            </div>

            <form method="POST" action="{% url 'vware:configurationReceivingOperation' %}"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal fade" id="configurationsModalReceiving" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel" style="margin-left: 40%">Receiving
                                    Operations</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <div class="rounded col-md-9 mx-auto form p-4"
                                     style="background-image: url('{% static "fundo.png" %}'); opacity: 85%">
                                    <div class="row">
                                        <div class="column">
                                            <p>RECEÇÃO ADMINISTRATIVA </p>
                                            <p>DESCARGA VEÍCULO </p>
                                            <p>RECEÇÃO FÍSICA </p>
                                            <p>ARRUMAÇÃO MATERIAL </p>
                                            <p>PICKING </p>
                                            <p>INSPEÇÃO MATERIAL </p>
                                            <p>LINEFEEDER EMERGÊNCIA </p>
                                            <p>SUBMISSÃO PURGA </p>
                                            <p>OTHER OPERATIONS </p>
                                        </div>
                                        <div class="column" style="margin-left: 50px">
                                            <input type="file" id="one" name="one" multiple></br>
                                            <input type="file" id="two" name="two" multiple
                                                   style="margin-top: 9px"></br>
                                            <input type="file" id="three" name="three" multiple
                                                   style="margin-top: 9px"></br>
                                            <input type="file" id="four" name="four" multiple
                                                   style="margin-top: 9px"></br>
                                            <input type="file" id="five" name="five" multiple
                                                   style="margin-top: 9px"></br>
                                            <input type="file" id="six" name="six" multiple
                                                   style="margin-top: 9px"></br>
                                            <input type="file" id="seven" name="seven" multiple
                                                   style="margin-top: 9px"></br>
                                            <input type="file" id="eight" name="eight" multiple
                                                   style="margin-top: 9px"></br>
                                            <input type="file" id="nine" name="nine" multiple
                                                   style="margin-top: 9px"></br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit">Submit</button>
                                <button type="button" value="close" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div style="position: absolute; right: 85px; bottom: 0">
            <a href="#reportIssue" data-toggle="modal" data-target="#reportIssue" class="fas fa-info-circle"
               style="font-size: 15px; height: 22px"> Help</a>
        </div>
    </div>

    <form method="POST" enctype="multipart/form-data" action="{% url 'vware:reportOperations' %}">
        {% csrf_token %}
        <div class="modal fade" id="reportIssue" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: rgba(236,144,0,0.86)">
                        <h4 class="modal-title" id="myModalLabel" style="margin-left: 45%; font-size: 40px"><i>HELP</i>
                        </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body"
                         style="background: linear-gradient(to bottom, rgba(236,144,0,0.86) 0%, ghostwhite 100%); ">
                        <div style="margin-top: 10px">
                            <p style="font-size: 20px"><strong>Escreva aqui possíveis erros de utilização desta página
                                em
                                específico, ou deixe sugestões de melhoria</strong></p>
                            <textarea class="form-control mt-n3" name="reportICDR" id="reportICDR" rows="11"
                                      style="background-color: floralwhite; text-align: center;font-family:sans-serif;font-size:1.5em"
                                      required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer" style="background-color: ghostwhite">
                        <button type="submit" id="submitReportICDR" class="btn btn-primary">Submeter</button>
                        <button type="button" class="btn btn-primary" value="pending" data-dismiss="modal">Fechar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            var tableShippingOperation = $('#tabelaShippingOperation').DataTable({
                "info": false,
                "paging": false,
                "ordering": false,
                "searching": false,
                "scrollX": 500,
            });

            $('#tabelaShippingOperation tbody').on('click', '#configurations', function () {
                var myModal = new bootstrap.Modal(document.getElementById('configurationsModalShipping'))
                myModal.show()
            });

            var tableReceivingOperation = $('#tabelaReceivingOperation').DataTable({
                "info": false,
                "paging": false,
                "ordering": false,
                "searching": false,
                "scrollX": 200,
            });

            $('#tabelaReceivingOperation tbody').on('click', '#configurations', function () {
                var myModal = new bootstrap.Modal(document.getElementById('configurationsModalReceiving'))
                myModal.show()
            });

            var tableCrossdocking = $('#tabelaCrossdocking').DataTable({
                "info": false,
                "paging": false,
                "ordering": false,
                "searching": false,
                "scrollX": 500,
            });

            $(document).on('click', '#configurationsCrossdocking', function () {
                var myModal = new bootstrap.Modal(document.getElementById('configurationsModalCrossdocking'))
                myModal.show()
            });
        });
    </script>
{% endblock %}